 {% load static %}

{% load custom_tag %}  
{% if user.is_authenticated %} 
      
                    <div class="form-box">
                        <div class="form-tab"> 
                            <div class=" ">
                                <img src="{% static 'Authentication/logos/logo.png' %}" class="header-center"  alt="Pin Logo" width="105" height="25" />
                            </div>
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item ">
                                    <a class="nav-link active" id="changePassword-tab" data-toggle="tab" href="#changePassword" role="tab" aria-controls="changePassword" aria-selected="true"> Reset Password </a>
                                </li> 
                            </ul>
                            </div>
                            {% block content %} 
                             <form action="{% url 'changePassword' %}"  method="post"  enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %} 
                                        <div class="form-group">
                                            <label for="reset-email ">Your email address *</label>
                                            <input type="email" value="{{user.email}}" class="form-control" id="reset-email" name="reset-email" readonly> 
                                        </div><!-- End .form-group -->  
                                        <div class="form-group">
                                            <label for="reset-password ">Old Password *</label>
                                            <input type="password" class="form-control" id="reset-password" name="reset-password" required> 
                                        </div><!-- End .form-group -->  
                                        <div class="row">
                                            <div class="form-group col-sm-6"> 
                                                <label for="reset-newPassword">New Password *</label>
                                                <input type="password" class="form-control" id="reset-newPassword" name="reset-newPassword" required>
                                            </div>
                                            <div class="form-group col-sm-6"> 
                                                <label for="Conf-forgot-password">Confirm New Password *</label>
                                                <input type="password" class="form-control" id="Conf-reset-password" name="Conf-reset-password" required>
                                            </div><!-- End .form-group -->
                                        </div>
                                        
                                        <div class="form-footer"  style="max-width: 45%;">
                                            <button type="submit" class="btn btn-outline-primary-2" >
                                                <span>Request Change </span> <span class="material-symbols-outlined">password</span>
                                            </button>
 
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="{% url 'lgOut' %}" class="btn btn-login btn-g"  style="border-color: greenyellow; &hover {background-color: orange;}"> 
                                                    <span class="material-symbols-outlined">login</span>
                                                    Login
                                                </a>
                                            </div><!-- End .col-6 --> 
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane --> 
                            </div><!-- End .tab-content -->
                            {% endblock %} 

{% endif %}
    <!-- Plugins JS File -->
    {% load static %}
    <script src="{% static 'Authentication/js/login/jquery.min.js' %}"></script>
    <script src="{% static 'Authentication/js/login/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Authentication/js/login/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'Authentication/js/login/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'Authentication/js/login/superfish.min.js' %}"></script>
    <script src="{% static 'Authentication/js/login/owl.carousel.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'Authentication/js/login/main.js' %}"></script> 

    <script>
        $(document).ready(function(){
           
            $("#changePassword1").modal();
            
        });
        $("#changePassword1").click(function(){
            $("#changePassword1").modal();
        });
        </script>
</body>


<!--  login.html  22 Nov 2019 10:04:03 GMT -->
</html>