{% load static %} 
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 

<div class="container">   
    <div class="form-tab">  
         <div class="tab-pane wrapper-add" id="login"  > 
             <h4>Accessories Data</h4>
         <form action="{% url 'access_Product_admin' %}"  method="post"  enctype="multipart/form-data">
                 {% csrf_token %}
                 {% if messages %}
                     <ul class="messages">
                         {% for message in messages %}
                         <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                         {% endfor %}
                     </ul>
                 {% endif %}
             <div class="row">
                 <div class=" col-sm-6"> 
                     <label for="product_Name" >Product Name *</label>
                     <input type="text" class="form-control" id="product_Name" name="product_Name" placeholder="Product Name" required>
                 </div>
                 <div class="form-group col-sm-6"> 
                    <div class="add-box-image" > 
                         <div class="upload-options">  
                                <img id="blah" src="" class="addMobileImage"  alt="Select Display Image*" />
                                <input accept="image/*" class="addMobileInput" type='file'   name="mobile_ImgDisplay"  id="imgInp" />
                             </div>
                    </div>   
            </div> 
             </div> 
             
             <div class="row">
                <div class="col-sm-6"> 
                    <label for="product_Price">Product Price $(doller)*</label>
                    <input type="text" class="form-control" id="product_Price" name="product_Price" placeholder=" Product Price"  required>
                </div><!-- End .form-group --> 
               
             </div> 
             <div class="row"> 
                <div class=" col-sm-6">  
                    <label for="access_category" >Accessories Category *</label> 
                    <input type="text" class="form-control" id="access_category" name="access_category" placeholder="Accessories Category"  required>
                       
                   </div>
                   
                <div class="form-group col-sm-6"> 
                    <label for="product_Type">Product Type *</label>
                    <input type="text" class="form-control" id="product_Type" name="product_Type" placeholder="product_Typed"  required>
                </div><!-- End .form-group -->
             </div>
             <div class="row">
                  
                 <div class="form-group col-sm-6"> 
                     <label for="product_Brand">Product Brand *</label>
                     <input type="text" class="form-control" id="product_Brand" name="product_Brand" placeholder="Product Brand"  required>
                 </div><!-- End .form-group -->
                 <div class=" col-sm-6"> 
                     <label for="product_MadeByCountry" >Made By Country *</label>
                     <input type="text" class="form-control" id="product_MadeByCountry" name="product_MadeByCountry" placeholder="Made by Country Name" required>
                 </div>
             </div> 
             
             <div class="row">
                <div class=" col-sm-6"> 
                    <label for="product_UseFor" >Accessorie Use For? *</label>
                    <input type="text" class="form-control" id="product_UseFor" name="product_UseFor" placeholder="Accessorie Use For?"  required>
                </div>
                 <div class=" col-sm-6"> 
                     <label for="product_Size" >Product Size/Number *</label>
                     <input type="text" class="form-control" id="product_Size" name="product_Size" placeholder="Product Size Number"  required>
                 </div>

             </div>   
              
             
             <div class="row">
                 <div class=" col-sm-6"> 
                     <label for="product_Condition" >Product Condition *</label> 
                     <div name="product_Condition" class="form-control">
                         <select id="options"  name="product_Condition"  class="selectdata custom-select" required>
                             <option  value="" disabled selected>Product Condition</option>
                             <option  name="product_Condition" value=" ( 90% - 100% ) - Excellent ">( 90% - 100%  ) - Excellent </option>
                             <option  name="product_Condition" value=" ( 80% - 89% ) - Best ">( 80% - 89% ) - Best </option>
                             <option  name="product_Condition" value=" ( 70% - 79% ) - Better ">( 70% - 79% ) - Better </option>
                             <option  name="product_Condition" value=" ( 60% - 69% ) - Good ">( 60% - 69% ) - Good </option>
                             <option  name="product_Condition" value=" ( 50% - 59% ) - Poor ">( 50% - 59% ) - Poor </option>
                             <option  name="product_Condition" value=" ( 40% - 49% ) - Fair ">( 40% - 49% ) - Fair </option> 
                             <option  name="product_Condition" value=" ( 1% - 39% ) - Dead ">( 1%-39% ) - Dead </option>
                         </select>  
                     </div>
                 </div>
                 <div class="form-group col-sm-6"> 
                     <label for="product_Freshnes">Product Freshness *</label> 
                     <div name="product_Freshnes" class="form-control">
                         <select id="options"  name="product_Freshnes"  class="selectdata custom-select" required>
                             <option  value="" disabled selected>Product Freshness</option>
                             <option  name="product_Freshnes" value="New" >New</option>
                             <option  name="product_Freshnes" value="Old">Old</option>
                             <option  name="product_Freshnes" value="Mint">Mint</option>
                             <option  name="product_Freshnes" value="A Block">A Block</option>
                             <option  name="product_Freshnes" value="B Block">B Block</option>
                             <option  name="product_Freshnes" value="C Block">C Block</option>
                             <option  name="product_Freshnes" value="D Block">D Block</option>
                             <option  name="product_Freshnes" value="Open Box">Open Box</option>
                             <option  name="product_Freshnes" value="Second Hand">Second Hand</option>
                             <option  name="product_Freshnes" value="Refurbished">Refurbished</option>
                             <option  name="product_Freshnes" value="Certified Refurbished">Certified Refurbished</option>
                             <option  name="product_Freshnes" value="Certified Pre-Owned">Certified Pre-Owned</option>
                             <option  name="product_Freshnes" value="Parts or not Workking" >Parts or not Workking</option>
                             
                         </select>  
                     </div>
                 </div><!-- End .form-group -->
             </div> 
              
             <div class="row"> 
                 <div class=" col-sm-6"> 
                     <label for="product_Status" >Product Status *</label>
                     <div name="product_Status" class="form-control">
                         <select id="options"  name="product_Status"  class="selectdata custom-select" required>
                             <option  value="" disabled selected>Product Status</option>
                             <option  name="product_Status" value="Available">Available</option>
                             <option  name="product_Status" value="Not Available">Not Available</option>
                             <option  name="product_Status" value="Limited Addition">Limited Addition</option>
                         </select>  
                     </div>
                 </div>
                 <div class=" col-sm-6"> 
                    <label for="product_QR_Code" >Product QR Code *</label>
                    <input type="text" class="form-control" id="product_QR_Code" name="product_QR_Code" placeholder="Product QR-Code" required>
                </div>
             </div> 
               
             <div class="row"> 
                 <div class="form-group col-sm-12"> 
                     <label for="product_IssueDate">Product Issue Date *</label> 
                     <input type="date" class="form-control" id="product_IssueDate" name="product_IssueDate" required>
                 </div><!-- End .form-group -->
             </div>
             
             <div class="row">
                 <div class=" col-sm-12"> 
                 <label for="product_Description">Product Description *</label>
                 <textarea type="text" class="form-control" id="product_Description" name="product_Description" placeholder="Product Description" required></textarea>
             </div><!-- End .form-group -->
                 
                  
             </div> 

             <div class="row">
                <div class=" col-sm-3"> 
                <label for="product_Photo1">Extra Images View-1 *</label>
                <input type="file" class="form-control" id="product_Photo1" name="product_Photo1" placeholder="Product Image View 1" required />
            </div><!-- End .form-group -->
                
                <div class="form-group col-sm-3"  >  
                    <label for="product_Photo2"> Images View-2 *</label>
                    <input type="file" class="form-control" id="product_Photo2" name="product_Photo2" required  />
                </div><!-- End .form-group -->
                <div class="form-group col-sm-3"  >  
                    <label for="product_Photo3"> Images View-3 *</label>
                    <input type="file" class="form-control" id="product_Photo3" name="product_Photo3" required  />
                </div><!-- End .form-group -->
                <div class="form-group col-sm-3"  >  
                    <label for="product_Photo4"> Images View-4 *</label>
                    <input type="file" class="form-control" id="product_Photo4" name="product_Photo4" required  />
                </div><!-- End .form-group -->
            </div> 
               
            <div class="form-group col-sm-12"> 
                <label for="product_Color">product Colors *</label>
                <input type="text" class="form-control" id="product_Color" name="product_Color" placeholder="product Color" required>
            </div><!-- End .form-group -->
            <div class="row"> 
                <div class=" col-sm-6"> 
                    <label for="product_Gender" >Product Gender Type *</label>
                    <div name="product_Gender" class="form-control">
                        <select id="options"  name="product_Gender"  class="selectdata custom-select" required>
                            <option  value="" disabled selected>Product Gender for Use </option>
                            <option  name="product_Gender" value="N/A">N/A</option>
                            <option  name="product_Gender" value="Male">Male</option>
                            <option  name="product_Gender" value="Female">Fe-male</option>
                            <option  name="product_Gender" value="Both">Both</option>
                            <option  name="product_Gender" value="Other">other</option>
                        </select>  
                    </div>
                </div>
                <div class=" col-sm-3"> 
                   <label for="product_ageBase1" >Product Age From -  *</label>
                   <input type="text" value="N/A" class="form-control" id="product_ageBase1" name="product_ageBase1" placeholder="Product Age for Start" required>
               </div>
               
               <div class=" col-sm-3"> 
                <label for="product_ageBase2" > - Product Age To *</label>
                <input type="text" value="N/A" class="form-control" id="product_ageBase2" name="product_ageBase2" placeholder="Product Age For end" required>
            </div>
            </div> 
            <div class=" form-group "> 
                <label for="product_Extra" >Accessories Extra *</label>
                <input type="text" class="form-control" id="product_Extra" name="product_Extra" placeholder="product Extra Feature" required>
            </div>    

             <div class="header-right ">
                 <button type="submit" class="mybtn ">
                     <span>Save Product </span> 
                     <span class="material-symbols-outlined">playlist_add</span>
                 </button> 
             </div><!-- End .form-footer --> 
       </form>



       </div></div></div> 

       
<script>
    imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>

