 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product {{title}}</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Pin Store">
    <meta name="author" content="p-themes"> 
    <meta name="apple-mobile-web-app-title" content="Pin Store">
    <meta name="application-name" content="Pin Store">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    {% load static %}  
    <link rel="stylesheet" href="{% static 'Authentication/css/login/icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Authentication/css/login/style.css' %}"> 
    
    <link rel="stylesheet" href="{% static 'Authentication/css/login/mystyle.css' %}"> 

    <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/ProdNav.css' %}">
    <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/button.css' %}"> 
 
    {% load static %}
    {% block content %}
    {% if user.is_authenticated %}
    {% include 'header.html' %} 
        </header> 
        <div class="container " >
        <div class="header-left ">  
                 
    <div class="wrapper">
      <nav>
        <input type="radio" name="tab" class="block"  onclick="openCity(event, 'Mobile')"  id="mobile" checked >
        <input type="radio" name ="tab"  onclick="openCity(event, 'Computer')" id ="computer" >
        <input type="radio" name ="tab"  onclick="openCity(event, 'Shoes')" id ="shoes">
        <input type="radio" name ="tab"  onclick="openCity(event, 'Cloth')" id ="cloth">
        <input type="radio" name ="tab" onclick="openCity(event, 'Watch')" id ="watch">
        <input type="radio" name ="tab" onclick="openCity(event, 'Tv')" id ="tv"> 
        <input type="radio" name ="tab" onclick="openCity(event, 'Accessories')" id ="accessories">


        <label for="mobile" class="mobile"><a href="#">Mobile</a></label>
        <label for="computer" class="computer"><a href="#">Computer</a></label>
        <label for="shoes" class="shoes"><a href="#">Shoes</a></label>
        <label for="cloth" class="cloth"><a href="#">Cloth</a></label>
        <label for="watch" class="watch"><a href="#">Watch</a></label>
        <label for="tv" class="tv"><a href="#">T.v</a></label>
        <label for="accessories" class="accessories"><a href="#">Accessories</a></label>
        <div class="tab"></div>
      </nav>
    </div>

                 
            </div>
          </div>
     <div id="Mobile" class="tabcontent">
        {% include 'mobileAdd.html' %}
 
    </div>
          <div id="Computer" class="tabcontent">
            {% include 'computerAdd.html' %}
          </div>
          <div id="Shoes" class="tabcontent">
            {% include 'shoesAdd.html' %}
          </div>
          <div id="Cloth" class="tabcontent">
            {% include 'clothAdd.html' %}
          </div> 
          <div id="Watch" class="tabcontent">
            {% include 'watchAdd.html' %}
          </div> 
           
          <div id="Tv" class="tabcontent">
            {% include 'tvAdd.html' %}
          </div>
          <div id="Accessories" class="tabcontent">
            {% include 'accessAdd.html' %}
          </div>
    </div>





    {% include 'footer.html' %} 
    {% endif %}
    {% endblock %} 
    
    <script src="{% static 'storeCommerce/assets/js/AddProdNav.js' %}"></script>