{% load static %}
{% load custom_tag %}
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/MenuNav.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/adminchat.scss' %}">
  

<aside class="sidebar  wrapit">
    <div class="logo">
        <a href="{% url 'home' %}" style="position: absolute;" class=" header-left">
           <h1> <img src="{% static 'storeCommerce/assets/images/logos/logo.png' %}"  alt="Pin Logo" width="105" height="25"></h1>
        
        </a>
    </div> 
    <span class="close material-symbols-outlined">menu</span>
    <ul class="links" >
      {% if user.is_staff %}
      <h4>Admin Menu</h4> 
      <li>
        <span class="material-symbols-outlined">ambient_screen</span>
        <a href="{% url 'mobile_Product_admin' %}">Add Product</a>
      </li>
      <li>
        <span class="material-symbols-outlined">visibility</span>
        <a href="{% url 'view_Product_admin' %}">View Product</a>
      </li>
         
      <li>
        <span class="material-symbols-outlined">person_add</span>
        <a href="{% url 'add_UserByAdmin' %}">Register User</a>
      </li> 
      <li>
        <span class="material-symbols-outlined">manage_accounts</span>
        <a href="{% url 'view_UserByAdmin' %}">View User</a>
      </li>  
      <li>
        <span class="material-symbols-outlined">shopping_cart</span>
        <a href="{% url 'wishlist' %}">Wishlist</a>
      </li>
      <li>
        <span class="material-symbols-outlined">monitoring</span>
        <a href="{% url 'adminBoard' %}">Analytic</a>
      </li> 
      <hr>
      {% endif %}
      <h4>Advanced</h4>
      <li>
        <span class="material-symbols-outlined">home</span>
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li>
        <span class="material-symbols-outlined">phone_android</span>
        <a href="{% url 'mobileShow' %}">Mobiles </a>
      </li>
      <li>
        <span class="material-symbols-outlined">computer</span>
        <a href="{% url 'computerShow' %}">Computer </a>
      </li>
      <li>
        <span class="material-symbols-outlined">watch</span>
        <a href="{% url 'watchShow' %}">Watch </a>
      </li>
      <li>
        <span class="material-symbols-outlined">tv</span>
        <a href="{% url 'tvShow' %}">T.v </a>
      </li>
      <li>
        <span class="material-symbols-outlined">apparel</span>
        <a href="{% url 'clothShow' %}">Cloth </a>
      </li>
      <li>
        <span class="material-symbols-outlined">steps</span>
        <a href="{% url 'shoesShow' %}">Shoes </a>
      </li>
      <li>
        <span class="material-symbols-outlined">category</span>
        <a href="{% url 'accessShow' %}">Accessories </a>
      </li>

       
      <hr>
      <h4>Account</h4>
      <li>
        <span class="material-symbols-outlined">bar_chart</span>
        <a href="#">Overview</a>
      </li> 
      <li>
        <span class="material-symbols-outlined">settings</span>
        <a href="{% url 'setting' %}">Settings</a>
      </li>
      <li class="logout-link">
        <span class="material-symbols-outlined">logout</span>
        <a href="{% url 'lgOut' %}">Logout</a>
      </li>
    </ul>
  </aside> 
  {% if user.is_staff %}
    
  <div id="chatPage" class="chat_page" style="position: static; ">
    <button onclick="openChatBox()" class="chat_button">
    <i id="chatOpen" class=" "><span style="color:red;" class="material-symbols-outlined">chat</span></i>
  </button> 
  <div id="chatbar" class="chat_box animated fadeInUp">
    <div style="background-color: rgb(245, 255, 255);" class="chat_box_header">
      Staff Chat Room 
    </div>
    
    <div class="boxstylo" >
      {% for msg in obj_MSG  reversed %}
      
      {% if msg.db_message_sender != user.email %}
      <!--   user    -->
      <div class="row">
      <img src="{{BASE_DIR}}/Auth/media/{{msg.db_message_sender|message_img}}" class="userimgBox" />
         <label  class="userlblstylo">
          <a href="{% url 'messageAdmin' msg.db_message_sender %}" style="color: black;">{{msg.db_message_sender}}</a>
           
          <p class="lbltime">{{msg.created_at}}</p>
          </label>
      </div>  
      {% endif %}

      {% endfor %}
    </div> 
     

  </div>
  </div>
   
   

   {%else%}

   

   <div id="chatPage" class="chat_page" style="position: static; ">
    <button onclick="openChatBox()" class="chat_button">
    <i id="chatOpen" class=" "><span style="color:red;" class="material-symbols-outlined">chat</span></i>
  </button> 
  <div id="chatbar" class="chat_box animated fadeInUp">
    <div style="background-color: azure;" class="chat_box_header">
     STAFF :-  {{userEmail}} 
    </div>
    
    <div class="boxstylo" >
      {% for msg in obj_MSG reversed  %}
      <!--   user    -->
      {% if msg.db_message_sender == user.email %}
      <div class="row">
      <img src="{{BASE_DIR}}/Auth/media/{{user.email|message_img}}" class="userimgBox" />
         <label  class="userlblstylo">
          <p> {{msg.db_message_sender}}</p>
            {{msg.db_Message_Text}}
          <p class="lbltime">{{msg.created_at}}</p>
          </label>
      </div>  
      {% endif %}
      {% if msg.db_message_sender == userEmail and  msg.db_message_reciever == user.email %}
      <!--  admin-->
      <div class="row rowAdmin"> 
         <label  class="adminlblstylo"> 
          <p> {{msg.db_message_sender}} </p>
              {{msg.db_Message_Text}}
         <p class="lbltime">{{msg.created_at}}</p>
        </label>
        <img src="{% static 'storeCommerce/assets/images/logos/logoName.png' %}" class="adminimgBox" />
      </div>
      
      {% endif %}
      {% endfor %}


    </div>
    <form action="{% url 'messageAdmin' user.email %}" method="post"  enctype="multipart/form-data">
        <div class="chat_box_footer textposit" >   
          <input type="text" id="user_email" value="{{user.email}}" name="user_email" hidden>
          <input type="text" id="MsgInput" name="MsgInput" class="txtstylo"  placeholder="Enter Message">
          <button  class="btnstylo"><span class="material-symbols-outlined">send</span></button>
        </div>
  </form>
  </div>
  </div>
    
   {% endif %}

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"> <span class="material-symbols-outlined">north</span></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->




{% load static %}
<script src="{% static 'storeCommerce/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/superfish.min.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/owl.carousel.min.js' %}"></script>


<script src="{% static 'storeCommerce/assets/js/main.js' %}"></script>
<script src="{% static 'storeCommerce/assets/js/demo-2.js' %}"></script>

<script src="{% static 'storeCommerce/assets/js/adminchat.js' %}"></script>
</body>

</html>
