 <!--https://fonts.google.com/icons-->
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>fullView </title>
 <meta name="keywords" content="HTML5 Template">
 <meta name="description" content="Pin Store">
 <meta name="author" content="p-themes"> 
 <meta name="apple-mobile-web-app-title" content="Pin Store">
 <meta name="application-name" content="Pin Store">
 <meta name="msapplication-TileColor" content="#cc9966">
 <meta name="theme-color" content="#ffffff">
 {% load static %}
 <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
 
 <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
 <script src="https://js.stripe.com/v3/"></script> 
 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/fullview.scss' %}"> 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/fullview1.css' %}"> 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/starReview.scss' %}">
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/orderProd.css' %}"> 
  <style>
    .ProdName{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1; 
    }


  </style>

 
{% load custom_tag %}
 {% block content %}
 {% if user.is_authenticated %}
 {% include 'header.html' %} 
  <div class="container">
<div class="header-center container" > 
  <div class=" wrapper"> 
<section class="product">
	<div class="product__photo">
		<div class="photo-container" style="position: relative; left: 1px;">
			<div class="photo-main">
				<div class="controls">
					<i class="material-symbols-outlined">share</i>
          <span title="Name: {{view_Product.db_Product_Name}}" class="ProdName">"{{view_Product.db_Product_Name}}"</span>
          <form action="{% url 'wishlist' %}"  method="post"  enctype="multipart/form-data">
            {% csrf_token %} 
            <input value="/fullView/" name="wish_backAddress" class="form-control" hidden>
            <input value="{{view_Product.db_Product_ID}}"  title="click to do Wishlist"  name="wishlist_ID" class="form-control" hidden>
            <div class = "purchase-info"> 
              {% if view_Wish.db_Wishlist_ID == view_Product.db_Product_ID  %}
            <button type= "submit"   title="click to do UnWishlist" class="Unwishbtn"> 
              <span class="material-symbols-outlined">heart_broken</span>
            </button>
            {% else %}
            <button type= "submit"  class="wishbtn"> 
              <span class="material-symbols-outlined">favorite</span>
            </button>
            {% endif %}
            </div>
          </form>
				</div> 
        
       




         <div class = "img-display">
        <div class = "img-showcase">
          <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.db_Product_photo}}" alt = "shoe image">
          <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list1_img}}" alt = "shoe image">
          <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list2_img}}" alt = "shoe image">
          <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list3_img}}" alt = "shoe image">
          <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list4_img}}" alt = "shoe image">
        </div>
        <div class="photo-album"> 
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.db_Product_photo}}" class="img_border" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list1_img}}" class="img_border"  alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list2_img}}"  class="img_border" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list3_img}}" class="img_border"  alt = "shoe image">
              </a>
            </div>
            
            <div class = "img-item">
              <a href = "#" data-id = "5">
                <img src = "{{BASE_DIR}}/Auth/media/{{view_Image.list4_img}}"  class="img_border" alt = "shoe image">
              </a>
              <div style="height: 26px"></div>
            </div>

             
          </div> 
            </div>
        </div> 
        
      </div>
			
		</div>
	</div>
	<div class="product__info">
    <div class = "product-content">  
			<h1 class = "product-titleX"> 
        {% if view_Access.db_Access_ID == view_Product.db_Product_ID %}
        {{view_Access.db_Access_Category}}
        {% else %}
        {{view_Product.db_Product_Category}}
        {% endif %}
         </h1> 
      <a href = "#" class = "product-link">{{view_Product.db_Product_Type}}</a>
      

      
<div id="half-stars-example">
  <div class="rating-group row rating-top">
     
    <form action="{% url 'reviewProduct' %}"  method="post"  enctype="multipart/form-data">
      {% csrf_token %}
     <input type="text" value="{{view_Product.db_Product_ID}}" name="ReviewInputID" hidden>
     <input type="text" value="1" name="ReviewInput" hidden>  
     <button class="btnstar1" >
       <span type="submit" class="material-symbols-outlined iconstar1 checked-1">star_half</span> 
   </button>
   </form>
   <form action="{% url 'reviewProduct' %}"  method="post"  enctype="multipart/form-data">
     {% csrf_token %} 
    <input type="text" value="{{view_Product.db_Product_ID}}" name="ReviewInputID" hidden>
    <input type="text" value="2" name="ReviewInput" hidden> 
    <button class="btnstar1" >
     <span type="submit" class="material-symbols-outlined iconstar2 checked-2">star_half</span> 
 </button>
  </form>
  <form action="{% url 'reviewProduct' %}"  method="post"  enctype="multipart/form-data">
    {% csrf_token %}  
   <input type="text" value="{{view_Product.db_Product_ID}}" name="ReviewInputID" hidden>
   <input type="text" value="3" name="ReviewInput" hidden>
   <button class="btnstar1" >
     <span type="submit" class="material-symbols-outlined iconstar3 checked-3">star_half</span> 
 </button>
 </form>
 <form action="{% url 'reviewProduct' %}"  method="post"  enctype="multipart/form-data">
   {% csrf_token %} 
  <input type="text" value="{{view_Product.db_Product_ID}}" name="ReviewInputID" hidden>
  <input type="text" value="4" name="ReviewInput" hidden> 
  <button class="btnstar1" >
   <span type="submit" class="material-symbols-outlined iconstar4 checked-4">star_half</span> 
</button>
</form>
<form action="{% url 'reviewProduct' %}"  method="post"  enctype="multipart/form-data">
  {% csrf_token %}
 <input type="text" value="{{view_Product.db_Product_ID}}" name="ReviewInputID" hidden>
 <input type="text" value="5" name="ReviewInput" hidden>  
 <button class="btnstar1" >
   <span type="submit" class="material-symbols-outlined iconstar5 checked-5" aria-checked="true">star_half</span> 
</button>
</form>

   <p> 
      <span>{{view_Product.db_Product_ID|rate_count}} ({{view_Product.db_Product_ID|Review_count}})</span>
    </p>
      </div>

      <div class = "product-price">
        <div class="row">
          <div class="col-lg-12">
        <p class = "last-price">Old Price: <span>${{view_Product.db_Product_Price|add:"10" }}</span></p> 
      </div>
        <div class="col"><p class = "new-price">New Price: <span>${{view_Product.db_Product_Price}} (10%)</span></p></div>
      </div>
      </div> 
    </div>

    <div style=" background-color: rgba(156, 154, 154, 0.781); height: 0.1rem"></div>

      <div class = "product-detail">
        <h4>Description: </h4>
        <p> <textarea class="form-control txtpropert" style="height: 208px; max-height: 210px;" type="text" readonly>{{view_Product.db_Product_Description}} </textarea> </p>
           <ul>
            
           

          <div class="row">
            <li>Product ID : <span>{{view_Product.db_Product_ID}}</span></li>
            <div class="col-sm-5"> 
              <li>Size : <span>{{view_Product.db_Product_Size}}</span></li>
              <li>Made By : <span>{{view_Product.db_Product_MadeByCountry}}</span></li>
              <li>Issue Date : <span>{{view_Product.db_Product_IssueDate}}</span></li>
              <li>QR Code : <span>{{view_Product.db_Product_QR_Code}}</span></li>
               
            </div>
            <div class="col-sm-7"> 
             
              <li>Freshness : <span>{{view_Product.db_Product_Freshnes}}</span></li>
              <li> Status	: <span>{{view_Product.db_Product_status}}</span></li>
              <li>Condition : <span>{{view_Product.db_Product_Condition}}</span></li>
              
            </div>

        </div>
        </ul>
      </div>
      <div style=" background-color: rgba(156, 154, 154, 0.781); height: 0.1rem"></div>
      <div style=" height: 26px"></div>
        <div class="row"> 
          <div class="col-sm-3">
            <ul> 
            <li>Quantity : </li> 
            </ul>
          </div>  
          </div> 
          <form action="{% url 'fullView' view_Product.db_Product_ID %}"  method="post"  enctype="multipart/form-data">
            {% csrf_token %}  
            <input value="{{user.email}}" name="input_email" class="form-control" hidden>
            <input type = "number" name="prod_quantity" style="color: red; border-color: rgb(26, 2, 2);" class="form-control" min = "0" value = "1">
           
          <div class="row"> 
            <div class="col-sm-4"> 
          <div class = "purchase-info">  
            <button type = "submit" style="background-color: dodgerblue;" class = "btn">
              Buy <span class="material-symbols-outlined">local_mall</span>
            </button>
            </div>
          </form>
          </div>
          <div class="col-sm-4">  
          <form action="{% url 'wishlist' %}"  method="post"  enctype="multipart/form-data">
            {% csrf_token %} 
            <input value="/fullView/" name="wish_backAddress" class="form-control" hidden>
            <input value="{{view_Product.db_Product_ID}}"  title="click to do Wishlist"  name="wishlist_ID" class="form-control" hidden>
            <div class = "purchase-info"> 
              {% if view_Wish.db_Wishlist_ID == view_Product.db_Product_ID  %}
            <button type= "submit" style="background-color: rgba(255, 30, 30, 0.849);" title="click to do UnWishlist" class="btn">UnWishlist
              <span class="material-symbols-outlined">heart_broken</span>
            </button>
            {% else %}
            <button type= "submit"  style="background-color: rgba(4, 131, 61, 0.87);"  class = "btn">Wishlist
              <span class="material-symbols-outlined">favorite</span>
            </button>
            {% endif %}
            </div>
          </form>
          </div>
          </div>
  
</section>

</div>
</div>    
  


 <div class="modal-body data_body"> 
  <div class="tabs mt-3"> 
   <ul class="nav nav-tabs"  id="myTab" role="tablist"> 
     <li class="nav-item" class="btn" role="presentation"> 
     <a class="nav-link active " id="Info-tab" data-toggle="tab" href="#Info" role="tab" aria-controls="Info" aria-selected="true"> 
       Detail Infomation 
     </a> 
     </li> 
     <li class="nav-item"  class="btn"  role="presentation"> <a class="nav-link" id="Comment-tab" data-toggle="tab" href="#Comment" role="tab" aria-controls="Comment" aria-selected="false"> 
      <i class="fas fa-comments"></i> Comment ({{view_Product.db_Product_ID|comment_count}}) </a> 
     </li> 
 </ul> 

 
 
 <div class="tab-content data_body" id="myTabContent"> 
    <div class="tab-pane fade show active" id="Info" role="tabpanel" aria-labelledby="Info-tab">

 
  <div class="row"> 
<!--   ***************************   Mobile   ***********************-->

 {% if view_Product.db_Product_Category == "Mobile" %}
 
<div class="product__info header-right student-profile ">
     
<div class="card ">
  <div class="col-sm-12">
    <div class="card-header bg-transparent "> 
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Mobile Information</h3>
    </div>
    <div class="card-body ">
      <table class="table table-bordered">
        <tr>
            <th width="30%">Mobile Color </th>
            <td width="2%">:</td>
            <td>{{view_Mobile.db_Mobile_Color}}</td>
          </tr>
        <tr>
          <th width="30%">Mobile Storage </th>
          <td width="2%">:</td>
          <td>{{view_Mobile.db_Mobile_Store_RAM}} RAM  ,  {{view_Mobile.db_Mobile_Store_ROM}} ROM Storage</td>
        </tr> 
        <tr>
          <th width="30%">Operating System </th>
          <td width="2%">:</td>
          <td>{{view_Mobile.db_Mobile_OS}}</td>
        </tr>
        <tr>
          <th width="30%">Mobile Camera </th>
          <td width="2%">:</td>
          <td>{{view_Mobile.db_Mobile_Camera}}</td>
        </tr> 
          <tr>
            <th width="30%">Mobile Battery Timing	</th>
            <td width="2%">:</td>
            <td>{{view_Mobile.db_Mobile_BatteryTiming}}</td>
          </tr>
          <tr>
            <th width="30%">Mobile (SIM/SD) Card</th>
            <td width="2%">:</td>
            <td>{{view_Mobile.db_Mobile_Card}}</td>
          </tr>
          <tr>
            <th width="30%">Mobile Charger </th>
            <td width="2%">:</td>
            <td>{{view_Mobile.db_Mobile_Charger}}</td>
          </tr> 
          <tr>
            <th width="30%">Mobile Resolution </th>
            <td width="2%">:</td>
            <td>{{view_Mobile.db_Mobile_Resolution}}</td>
          </tr>
          <tr>
            <th width="30%">About More </th>
            <td width="2%">:</td>
            <td>{{view_Mobile.db_Mobile_Extra}}</td>
          </tr>
      </table>
    </div>
  </div>
  
 </div>
 </div>

{% endif %}

<!--   *********************************        Computer     ******************************  -->

{% if view_Product.db_Product_Category == "Computer" %}
 
<div class="product__info header-right student-profile ">
     
<div class="card ">
  <div class="col-sm-12">
    <div class="card-header bg-transparent "> 
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Computer Information</h3>
    </div>
    <div class="card-body ">
      <table class="table table-bordered">
        <tr>
            <th width="30%">Computer Color </th>
            <td width="2%">:</td>
            <td>{{view_Computer.db_Computer_Color}}</td>
          </tr>
        <tr>
          <th width="30%">Computer Storage </th>
          <td width="2%">:</td>
          <td>{{view_Computer.db_Computer_Store_RAM}} RAM  ,  {{view_Computer.db_Computer_Store_ROM}} ROM Storage</td>
        </tr> 
        <tr>
          <th width="30%">Operating System </th>
          <td width="2%">:</td>
          <td>{{view_Computer.db_Computer_OS}}</td>
        </tr>
        <tr>
          <th width="30%">Computer Camera </th>
          <td width="2%">:</td>
          <td>{{view_Computer.db_Computer_Camera}}</td>
        </tr> 
          <tr>
            <th width="30%">Computer Battery Timing	</th>
            <td width="2%">:</td>
            <td>{{view_Computer.db_Computer_BatteryTiming}}</td>
          </tr>
          <tr>
            <th width="30%">Computer (Graphic/CD) Card</th>
            <td width="2%">:</td>
            <td>{{view_Computer.db_Computer_Card}}</td>
          </tr>
          <tr>
            <th width="30%">Computer Charger </th>
            <td width="2%">:</td>
            <td>{{view_Computer.db_Computer_Charger}}</td>
          </tr> 
          <tr>
            <th width="30%">Computer Resolution </th>
            <td width="2%">:</td>
            <td>{{view_Computer.db_Computer_Resolution}}</td>
          </tr>
          <tr>
            <th width="30%">About More </th>
            <td width="2%">:</td>
            <td>{{view_Computer.db_Computer_Extra}}</td>
          </tr>
      </table>
    </div>
  </div>
  
 </div>
 </div>

{% endif %}




<!--   *********************************        Shoes     ******************************  -->

{% if view_Product.db_Product_Category == "Shoes" %}
 
<div class="product__info header-right student-profile ">
     
<div class="card ">
  <div class="col-sm-12">
    <div class="card-header bg-transparent "> 
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Shoes Information</h3>
    </div>
    <div class="card-body ">
      <table class="table table-bordered">
        <tr>
            <th width="30%">Shoes Color </th>
            <td width="2%">:</td>
            <td>{{view_Shoes.db_Shoes_color}}</td>
          </tr>
          <tr>
            <th width="30%">Shoes for Gender Use </th>
            <td width="2%">:</td>
            <td>{{view_Shoes.db_Shoes_genderBase}}</td>
          </tr>
          <tr>
            <th width="30%">Shoes use for Age Range </th>
            <td width="2%">:</td>
            <td>{{view_Shoes.db_Shoes_ageBase}}</td>
          </tr>
               
          <tr>
            <th width="30%">About More </th>
            <td width="2%">:</td>
            <td>{{view_Shoes.db_Shoes_Extra}}</td>
          </tr>
      </table>
    </div>
  </div>
  
 </div>
 </div>

{% endif %}






<!--   *********************************        Watch     ******************************  -->

{% if view_Product.db_Product_Category == "Watch" %}
 
<div class="product__info header-right student-profile ">
     
<div class="card ">
  <div class="col-sm-12">
    <div class="card-header bg-transparent "> 
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Watch Information</h3>
    </div>
    <div class="card-body ">
      <table class="table table-bordered">
        <tr>
            <th width="30%">Watch Color </th>
            <td width="2%">:</td>
            <td>{{view_Watch.db_Watch_color}}</td>
          </tr>
          <tr>
            <th width="30%">Watch for Gender Use </th>
            <td width="2%">:</td>
            <td>{{view_Watch.db_Watch_genderBase}}</td>
          </tr>
          <tr>
            <th width="30%">Watch use for Age Range </th>
            <td width="2%">:</td>
            <td>{{view_Watch.db_Watch_ageBase}}</td>
          </tr>
               
          <tr>
            <th width="30%">About More </th>
            <td width="2%">:</td>
            <td>{{view_Watch.db_Watch_Extra}}</td>
          </tr>
      </table>
    </div>
  </div>
  
 </div>
 </div>

{% endif %}






<!--   *********************************        Cloth     ******************************  -->

{% if view_Product.db_Product_Category == "Cloth" %}
 
<div class="product__info header-right student-profile ">
     
<div class="card ">
  <div class="col-sm-12">
    <div class="card-header bg-transparent "> 
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Cloth Information</h3>
    </div>
    <div class="card-body ">
      <table class="table table-bordered">
        <tr>
            <th width="30%">Cloth Color </th>
            <td width="2%">:</td>
            <td>{{view_Cloth.db_Cloth_color}}</td>
          </tr>
          <tr>
            <th width="30%">Cloth for Gender Use </th>
            <td width="2%">:</td>
            <td>{{view_Cloth.db_Cloth_genderBase}}</td>
          </tr>
          <tr>
            <th width="30%">Cloth use for Age Range </th>
            <td width="2%">:</td>
            <td>{{view_Cloth.db_Cloth_ageBase}}</td>
          </tr>
               
          <tr>
            <th width="30%">About More </th>
            <td width="2%">:</td>
            <td>{{view_Cloth.db_Cloth_Extra}}</td>
          </tr>
      </table>
    </div>
  </div>
  
 </div>
 </div>

{% endif %}





<!--   *********************************        T.v     ******************************  -->

{% if view_Product.db_Product_Category == "Tv" %}
 
<div class="product__info header-right student-profile ">
     
<div class="card ">
  <div class="col-sm-12">
    <div class="card-header bg-transparent "> 
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Tv Information</h3>
    </div>
    <div class="card-body ">
      <table class="table table-bordered">
        <tr>
            <th width="30%">Tv Color </th>
            <td width="2%">:</td>
            <td>{{view_Tv.db_Tv_color}}</td>
          </tr>
          <tr>
            <th width="30%">Tv Resolution </th>
            <td width="2%">:</td>
            <td>{{view_Tv.db_Tv_Resolution}}</td>
          </tr>
          <tr>
            <th width="30%">Tv Inches </th>
            <td width="2%">:</td>
            <td>{{view_Tv.db_Tv_Inches}}</td>
          </tr>
               
          <tr>
            <th width="30%">About More </th>
            <td width="2%">:</td>
            <td>{{view_Tv.db_Tv_Extra}}</td>
          </tr>
      </table>
    </div>
  </div>
  
 </div>
 </div>

{% endif %}




<!--   *********************************        Accessories     ******************************  -->

{% if view_Product.db_Product_Category == "Accessories" %}
 
<div class="product__info header-right student-profile ">
     
<div class="card ">
  <div class="col-sm-12">
    <div class="card-header bg-transparent "> 
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Accessories Information</h3>
    </div>
    <div class="card-body "> 
      <table class="table table-bordered">
        <tr>
          <th width="30%">Category level </th>
          <td width="2%">:</td>
          <td>{{view_Product.db_Product_Category}}</td>
        </tr>
        <tr>
            <th width="30%">Accessories Color </th>
            <td width="2%">:</td>
            <td>{{view_Access.db_Access_color}}</td>
          </tr>
          <tr>
            <th width="30%">Accessories Gender User </th>
            <td width="2%">:</td>
            <td>{{view_Access.db_Access_genderBase}}</td>
          </tr>
          <tr>
            <th width="30%">Accessories Age Range User </th>
            <td width="2%">:</td>
            <td>{{view_Access.db_Access_ageBase}}</td>
          </tr>
               
          <tr>
            <th width="30%">Accessories Used For </th>
            <td width="2%">:</td>
            <td>{{view_Access.db_Access_UseFor}}</td>
          </tr>
          <tr>
            <th width="30%">About More </th>
            <td width="2%">:</td>
            <td>{{view_Access.db_Access_Extra}}</td>
          </tr>
      </table>
    </div>
  </div>
  
 </div>
 </div> 
{% endif %}
 
</div>

</div>

<!--   *********************************        Comment     ******************************  -->

<div class="tab-pane fade" id="Comment" role="tabpanel" aria-labelledby="Comment-tab">
   
    
<div class="card ">
  <div class="card-header "> 
    <h3 class="mb-0"><i class="fas fa-comments"></i>Comment</h3>
  </div> 
 
    <form action="{% url 'commentProduct' %}"  method="post"  enctype="multipart/form-data">
      {% csrf_token %}  
      <div class="row">  
          <div class="col-sm-10 testdiv"  >
            <input value="{{view_Product.db_Product_ID}}" name="CommentInputID" class="form-control" hidden>
            <textarea placeholder="Write your Comment here..." type="text" name="CommentInputText" id="CommentInputText" class="form-control btnTextera"  required></textarea>
          </div> 
          <div class="col-sm-2"> 
            <div class = "purchase-info">  
              <button type ="submit" class="btnCom"   >
                Comment <i class="fas fa-comments"></i></span>
              </button>
            </div>
          </div>
      </div>
    </form>
    <div class="whitspace"></div>
    <div class="mt-1 mx-1"> 
      <div class="container">
        <div style=" background-color: rgba(156, 154, 154, 0.781); height: 0.1rem; width: 90%;"></div>
        {% for comment in obj_Comment reversed %}
        <div class="row" style="padding: 1rem;">
          <div class="col-sm-1">
            {% if comment.db_Comment_Sender == userEmail %}
            <img src="{% static 'storeCommerce/assets/images/logos/logoName.png' %}" style="width: 60px; height: 60px; max-width: 60px; max-height: 60px; border-radius: 100%; background-color: gainsboro;">
            {% else %}
            <img src="{{BASE_DIR}}/Auth/media/{{comment.db_Comment_Sender|profile_img}}" style="width: 60px; height: 60px; max-width: 60px; max-height: 60px; border-radius: 100%; background-color: gainsboro;">
         
            {% endif %}
          </div> 
          <div class="col-sm-10">
            <p><b>{{comment.db_Comment_Sender}} </b></p>
            <p style="position: relative; left: 2rem;"> 
              {{comment.db_Comment_Text}}
            </p>
          <p style="color: orange;">{{comment.created_at}}</p>
          </div>
    </div>

    <div style=" background-color: rgba(156, 154, 154, 0.781); height: 0.1rem; width: 90%;"></div>
    {% endfor %}
      </div>
    </div>
  
 </div> </div></div></div>
{% endif %}
{% endblock %}
<script src="{% static 'storeCommerce/assets/js/fullView.js' %}"></script>
     
{% include 'footer.html' %}

 
