 <!--https://fonts.google.com/icons-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home {{title}}</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Pin Store">
    <meta name="author" content="p-themes"> 
    <meta name="apple-mobile-web-app-title" content="Pin Store">
    <meta name="application-name" content="Pin Store">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    {% load static %}
    <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 
    <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/style.css' %}">

 
    {% block content %}
    {% if user.is_authenticated %}
    {% include 'header.html' %} 
        </header> 
          <div class="container " >
            <div class="header-left  ">  
                <div class="container row">   
                  {% if user.is_staff %}


                   
{% load static %}   
{% load custom_tag %}
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/stafftable.less' %}">
<p> <h3>User Order Product</h3></p>
</br>
<div class="container">
<div class="table-wrap"> 
<table class="tabbedTable ">
    <tr>
      <th  class="Personal " width="50">ID</th>
      <th class="Personal " width="100">User<b class="space">_</b>Email</th>
      <th data-tabbedTable="Personal info"> Product<b class="space">.</b>ID</th>
      <th data-tabbedTable="Personal info">Reciever<b class="space">.</b>Email</th>
      <th data-tabbedTable="Personal info">Order<b class="space">.</b>Status</th>
      <th data-tabbedTable="Personal info">Button</th>
      <th data-tabbedTable="Personal info">Full<b class="space">.</b>Name</th> 
      <th data-tabbedTable="Personal info">Reciever<b class="space">.</b>Full<b class="space">.</b>Address</th>
      <th data-tabbedTable="Personal info">Price<b class="space">.</b>Bill</th>
      <th data-tabbedTable="Personal info">Contact<b class="space">.</b>Number</th>
      <th data-tabbedTable="Personal info">Quantity<b class="space">.</b>Order</th> 
      <th data-tabbedTable="Personal info">Cash<b class="space">.</b>On</th>
      <th data-tabbedTable="Personal info">Buy<b class="space">.</b>Date</th> 
    </tr>
    {% for placed in view_place_order %}
    <tr class="wrapX">
        <td><textarea class="textholdID" readonly>{{placed.id}}</textarea></td>
        <td><textarea class="texthold"  readonly>{{placed.email_user}}</textarea></td>
        <td><textarea class="texthold" readonly>{{placed.product_id_order}}</textarea></td>
        <td><textarea class="texthold" readonly>{{placed.email_order}}</textarea></td>
        <td>
            <form  action="{% url 'update_place_byAdmin' %}"  method="post"  enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row"> 
                <div class="col-md-10" > 
                  <input class="inputhold" name="status" value="{{placed.status_order}} " > 
                </div>
                  <div class="col-md-1" > 
                    <input type="text" hidden class="form-control" id="update_email" value="{{placed.email_user}}" name="update_email" placeholder="update_email" required>
                    <input type="text" hidden class="form-control" id="update_cashOn" value="{{placed.cash_on}}" name="update_cashOn" placeholder="update_cashOn" required>
                    <input type="text" hidden class="form-control" id="update_id" value="{{placed.product_id_order}}" name="update_id" placeholder="update_id" required>
                      <button  type="submit" class="btnBorder " title="update"> <span class="IconRed material-symbols-outlined">edit_square</span></button> 
                  </div> 
            </div>
            </form>
        </td>
        <td>  
          <form  action="{% url 'delete_place_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" hidden class="form-control" id="delete_email" value="{{placed.email_user}}" name="delete_email" placeholder="delete_email" required>
                    <input type="text" hidden class="form-control" id="delete_cashOn" value="{{placed.cash_on}}" name="delete_cashOn" placeholder="delete_cashOn" required>
                    <input type="text" hidden class="form-control" id="delete_id" value="{{placed.product_id_order}}" name="delete_id" placeholder="delete_id" required>
                    <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
            </form>  
        </td>
        <td><textarea class="texthold"  readonly>{{placed.fname_order}} {{placed.lname_order}}</textarea></td> 
        <td><textarea class="texthold" readonly> {{placed.appartment_order}}, {{placed.street_address_order}} , {{placed.city_address_order}} ({{placed.postCode_order}}), {{placed.state_order}}, {{placed.country_order}} </textarea></td>
        <td><textarea class="texthold" readonly> ${{placed.price_order }} </textarea></td>
        <td><textarea class="texthold" readonly> {{placed.phone_order}} </textarea></td> 
        <td><textarea class="texthold" readonly> {{placed.quantity_order}} </textarea></td>
        <td><textarea class="texthold" readonly> {{placed.cash_on}} </textarea></td>
        <td><textarea class="texthold" readonly> {{placed.created_at}} </textarea></td>
    </tr>  
    {% endfor %}

  
       
  </table>
  </div>
  </div> 

                  {% else %}
                   {% for prod in view_Product %} 
                        <div class=" wrapper-home" >    
                          <div class="table-wrap"> 
                        {% for img in view_Image %}
                        {% if prod.db_Product_ID == img.db_Image_ID %} 
                        <div class="row"> 
                          <div class="col-md-12">
                           <img src="{{BASE_DIR}}/Auth/media/{{img.db_Product_photo}}" class=" home-box-image" id="input_img"  name="input_img" aria-label="" />
                        </div>
                        <div class="col-md-10">
                          <form action="{% url 'wishlist' %}"  method="post"  enctype="multipart/form-data">
                            {% csrf_token %} 
                            <input value="/home/" name="wish_backAddress" class="form-control" hidden>
                            <input value="{{prod.db_Product_ID}}"  title="click to do Wishlist"  name="wishlist_ID" class="form-control" hidden>
                            <div class = "purchase-info posit" >  
                            <button type= "submit" class="Unwishbtn" title="click to do UnWishlist" > 
                              <span class="material-symbols-outlined"> {{prod.db_Product_ID|email:user.email}}
                              </span>
                            </button>
                             
                            </div>
                          </form>
                        </div>
                        </div>
                           {% endif %}
                        {% endfor %}  
                           <p><label class="name"><b>{{prod.db_Product_Name}}</b></label></p> 
                             <p><label class="price"><b>Price : </b> ${{prod.db_Product_Price}} </label> </p>
                             <p><label class="type"><b>Type : </b> {{prod.db_Product_Type}} </label> </p>
                              <p> <label class="cate"><b>Category : </b>  
                                {% if prod.db_Product_Category == "Accessories" %} 
                                  {% for access in view_Access  %} 
                                  {% if prod.db_Product_ID == access.db_Access_ID  %}
                                    {{access.db_Access_Category }}
                                  {% endif %}
                                  {% endfor %} 
                                {% else %}  
                                  {{prod.db_Product_Category }} 
                                {% endif %} 
                              </label> </p>
                             
                              <p><a href="/store/fullView/{{prod.db_Product_ID}}" type="button" class="view-button"><b>View</b></a></p>
                          </div>  
                        </div> 
                      {% endfor %} 

                      {% endif %}
                </div>  
            </div>
          </div>
    {% include 'footer.html' %}
   

    {% endif %}
    {% endblock %}



  
  
    <script src="{% static 'storeCommerce/assets/js/stafftable.js' %}"></script>
