{% load static %}
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/card.css' %}"> 
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script> 
<div class="d-flex">
    <div class="firm" >
       <div class="row">
            <div class="col-sm-6">
                <label class="fname_order">First Name <span class="required">*</span></label>
                <input type="text"  placeholder="Arshad"  value="{{user.first_name}}" class="form-control" name="fname_order" required>
            </div>
            <div class="col-sm-6"> 
            <label class="lname_order">Last Name <span class="required">*</span></label>
            <input type="text" placeholder="Ali"  value="{{user.last_name}}" class="form-control" name="lname_order"  required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Email Address <span class="required">*</span></label>
                <input  class="form-control" placeholder="abc123@example.com"  value="{{user.email}}"  type="email" name="email_order"  required> 
            </div>
            <div class="col-sm-6">
                <label class="CompanyName_order">Company Name <span class="required">(optional)</span></label>
                <input type="text" class="form-control"  placeholder="Amazon"  name="CompanyName_order">
            </div>
        </div>
         
        <label>Country <label class="required" >*</label></label>
        <input type="text" class="form-control"  placeholder="Pakistan"  name="country_order" required>
       <div class="row">
        <div class="col-sm-6"> 
            <label >Street Address <span class="required">*</span></label>
            <input class="form-control"  type="text" name="houseadd_order" placeholder="House number and street name" required>
        </div>
        <div class="col-sm-6">
            <label>Apartment, suite, unit etc <span class="required">(optional)</span></label>
        <input  class="form-control"  type="text" name="apartment_order" placeholder="Apartment, suite, unit etc. (optional)">
      </div>
    </div>
    <div class="row"> 
        <div class="col-sm-4">
            <label>Town / City <span class="required">*</span></label>
            <input  class="form-control"  placeholder="Lahore"  type="text" name="city_order"  required> 
        </div>
        <div class="col-sm-4">
            <label>State / Province <span class="required">*</span></label>
            <input class="form-control" placeholder="Punjab"   type="text" name="state_order"  required> 
        </div>
        <div class="col-sm-4">
            <label>Postcode / ZIP <span class="required">*</span></label>
            <input class="form-control" placeholder="442200" type="text" name="PostCode_order"  required>  
        </div>
    </div>
        
      <label>Phone <span class="required">*</span></label>
      <input  class="form-control"  placeholder="+923401710232"  class="form-control" type="tel" name="Phone_order"  required> 
     
       
</div>
    <div class="Yorder">
      <table>
        <tr>
          <th colspan="2">Your order</th>
        </tr>
        <tr>
          <td>{{view_Product.db_Product_Name}} <span class="required"> x </span> {{order_quantity}}(Qty)</td>
          <td>${{price_show}}/-</td>
        </tr>
        <tr>
            <td>Shipping</td>
            <td>Free shipping</td>
          </tr>
        <tr>
          <td>Subtotal</td>
          <input hidden value="{{order_quantity}}" name="quantity_order">
          <input hidden value="{{price_show}}" name="priceTotal_order">
          <td>${{price_show}}/-</td>
        </tr>
      </table>
      


 