 <!--https://fonts.google.com/icons-->
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Settings Pin store</title>
 <meta name="keywords" content="HTML5 Template">
 <meta name="description" content="Pin Store">
 <meta name="author" content="p-themes"> 
 <meta name="apple-mobile-web-app-title" content="Pin Store">
 <meta name="application-name" content="Pin Store">
 <meta name="msapplication-TileColor" content="#cc9966">
 <meta name="theme-color" content="#ffffff">
 {% load static %}
 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/style.css' %}">

{% load custom_tag %}
 {% block content %}
 {% if user.is_authenticated %}
 {% include 'header.html' %} 
     </header> 
       <div class="container " >
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %} 
        <!--  >>>>>>>>>>>>>>>>>>>>     >>>>>>>     start    <<<<<<<<<   <<<<<<<<<<<<<<<<<<<<<  -->


        <div class="modal-body data_body"> 
            <div class="tabs mt-3"> 
             <ul class="nav nav-tabs"  id="myTab" role="tablist"> 
               <li class="nav-item" class="btn" role="presentation"> 
               <a class="nav-link active " id="Info-tab" data-toggle="tab" href="#Info" role="tab" aria-controls="Info" aria-selected="true"> 
                 Detail Infomation 
               </a> 
               </li> 
               <li class="nav-item"  class="btn"  role="presentation"> <a class="nav-link" id="changePassword-tab" data-toggle="tab" href="#changePassword" role="tab" aria-controls="changePassword" aria-selected="false"> 
                <i class="fas fa-comments"></i> Password Reset </a> 
               </li> 
           </ul> 
          
           
        <div class="tab-content" id="myTabContent"> 
            <div class="tab-pane fade show active" id="Info" role="tabpanel" aria-labelledby="Info-tab">
                Comming Soon
            </div>
            <div class="tab-pane " id="changePassword" role="tabpanel" aria-labelledby="changePassword-tab">
                    {% include 'changePassword.html' %}
            </div>
        </div>
        </div>
    </div>
</div>
 {% include 'footer.html' %}


 {% endif %}
 {% endblock %}


