 <style>
 .btnstar1_5 { 
    background-color: blue; 
    border: none;
    padding: 0 0; 
    width: 30px;
    max-width: 30px;
    &.btnstar:hover {
        visibility: hidden;
    }
 }
 
 .btnstar1 { 
    position: relative;
    right: 30px;
    background-color: green; 
    border: none;
    padding: 0 0; 
    width: 30px;
    max-width: 30px; 
    &:hover {
        visibility: hidden;
    }
 }

 .btnstar1x { 
    position: relative;
    left: 37px;
    background-color: green; 
    border: none;
    padding: 0 0; 
    width: 30px;
    max-width: 30px; 
    .btnstar1, .btnstar1_5:hover {
        visibility: hidden;
    }
 }


 </style>
 {% load static %}
 
<button class="btnstar1x" >
    <img src="{% static 'storeCommerce/assets/images/logos/fill test2.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;"> 
</button>
 <button class="btnstar1_5 " >
    <img src="{% static 'storeCommerce/assets/images/logos/half1.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;">
</button>
<button class="btnstar1" >
    <img src="{% static 'storeCommerce/assets/images/logos/half2.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;"> 
</button>


<button class="btnstar1_5 " >
    <img src="{% static 'storeCommerce/assets/images/logos/half1.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;">
</button>
<button class="btnstar1" >
    <img src="{% static 'storeCommerce/assets/images/logos/half2.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;"> 
</button>


<button class="btnstar1_5 " >
    <img src="{% static 'storeCommerce/assets/images/logos/half1.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;">
</button>
<button class="btnstar1" >
    <img src="{% static 'storeCommerce/assets/images/logos/half2.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;"> 
</button>

<button class="btnstar1_5 " >
    <img src="{% static 'storeCommerce/assets/images/logos/half1.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;">
</button>
<button class="btnstar1" >
    <img src="{% static 'storeCommerce/assets/images/logos/half2.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;"> 
</button>


<button class="btnstar1_5 " >
    <img src="{% static 'storeCommerce/assets/images/logos/half1.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;">
</button>
<button class="btnstar1" >
    <img src="{% static 'storeCommerce/assets/images/logos/half2.png' %}"  style="background-color: black; color: aqua; max-width: 50px; max-height: 50px;"> 
</button>
