{% load static %} 
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 

<div class="container">   
    <div class="form-tab">  
         <div class="tab-pane wrapper-add" id="login"  > 
             <h4>Tele Vission Data</h4>
         <form action="{% url 'tv_Product_admin' %}"  method="post"  enctype="multipart/form-data">
                 {% csrf_token %}
                 {% if messages %}
                     <ul class="messages">
                         {% for message in messages %}
                         <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                         {% endfor %}
                     </ul>
                 {% endif %}
             <div class="row">
                 <div class=" col-sm-6"> 
                     <label for="product_Name" >Product Name *</label>
                     <input type="text" class="form-control" id="product_Name" name="product_Name" placeholder="Product Name" required>
                 </div>
                 <div class="form-group col-sm-6"> 
                    <div class="add-box-image" > 
                         <div class="upload-options">  
                                <img id="blah" src="" class="addMobileImage"  alt="Select Display Image*" />
                                <input accept="image/*" class="addMobileInput" type='file'   name="mobile_ImgDisplay"  id="imgInp" />
                             </div>
                    </div>   
            </div> 
             </div> 
             
             <div class="row">
                <div class="col-sm-6"> 
                    <label for="product_Price">Product Price $(doller)*</label>
                    <input type="text" class="form-control" id="product_Price" name="product_Price" placeholder=" Product Price"  required>
                </div><!-- End .form-group --> 
               
             </div> 
             <div class="row">
                <div class=" col-sm-6"> 
                    <label for="product_category" >Product Category *</label> 
                       <div name="product_category" class="form-control">
                           <select id="options"  name="product_category"  class="selectdata custom-select" required>
                               <option  value="" disabled >Select Category</option>
                               <option  name="product_category" value="Mobile">Mobile / Phone</option> 
                               <option  name="product_category" value="Computer" >Computer / Laptop</option> 
                               <option  name="product_category" value="Cloth" >Cloth</option> 
                               <option  name="product_category" value="Shoes" >Shoes</option>  
                               <option  name="product_category" value="Tv" selected>T.V</option> 
                               <option  name="product_category" value="Watch">Watch</option> 
                               <option  name="product_category" value="Accessories">Accessories</option> 
                            </select>  
                       </div>
                   </div>
                   
                <div class="form-group col-sm-6"> 
                    <label for="product_Type">Product Type *</label>
                    <div name="product_Type" class="form-control"> 
                        <select id="options"  name="product_Type"  class="selectdata custom-select" required>
                            <option  value="" disabled selected>Product Type</option>
                            <option  name="product_Type" value="Simple Tv">Simple Tv</option> 
                            <option  name="product_Type" value="Pocket Tv">Pocket Tv</option> 
                            <option  name="product_Type" value="Pocket Tv">Box Tv</option> 
                            <option  name="product_Type" value="LG A1 OLED 4K HDR TV">LG A1 OLED 4K HDR TV</option>
                            <option  name="product_Type" value="Hisense U8K">Hisense U8K</option>
                            <option  name="product_Type" value="4K TVs">4K TVs</option>
                            <option  name="product_Type" value="8K TVs">8K TVs</option>
                            <option  name="product_Type" value="Gaming Tv">Gaming Tv</option>
                            <option  name="product_Type" value="Both LED and LCD TV">Both LED and LCD TV</option>
                            <option  name="product_Type" value=" Both Led and OLED"> Both Led and OLED</option>
                            <option  name="product_Type" value="Old Plasma">Old Plasma</option>
                            <option  name="product_Type" value="Radio Tv">Radio Tv</option>
                            <option  name="product_Type" value="QLED">QLED</option>
                            <option  name="product_Type" value="Sony A95K OLED">Sony A95K OLED</option>
                            <option  name="product_Type" value="TCL">TCL</option>
                            <option  name="product_Type" value="1080p TV">1080p TV</option>
                            <option  name="product_Type" value="Samsung">Samsung</option>
                            <option  name="product_Type" value="Sony">Sony</option>
                            <option  name="product_Type" value="Xiaomi">Xiaomi</option>
                            <option  name="product_Type" value="LED TVs">LED TVs</option>    
                            <option  name="product_Type" value="Hitachi">Hitachi</option>
                            <option  name="product_Type" value="Toshiba">Toshiba</option>
                            <option  name="product_Type" value="Philips">Philips</option>
                            <option  name="product_Type" value="Sharp">Sharp</option>
                            <option  name="product_Type" value="Panasonic ">Panasonic </option>
                            <option  name="product_Type" value="JVC">JVC</option>
                            <option  name="product_Type" value=" RCA"> RCA</option>
                            <option  name="product_Type" value="Other">Other</option>  
                        </select>  
                    </div>
                </div><!-- End .form-group -->
             </div>
             <div class="row">
                  
                 <div class="form-group col-sm-6"> 
                     <label for="product_Brand">Product Brand *</label>
                     <input type="text" class="form-control" id="product_Brand" name="product_Brand" placeholder="Product Brand"  required>
                 </div><!-- End .form-group -->
                 <div class=" col-sm-6"> 
                     <label for="product_MadeByCountry" >Made By Country *</label>
                     <input type="text" class="form-control" id="product_MadeByCountry" name="product_MadeByCountry" placeholder="Made by Country Name" required>
                 </div>
             </div> 
             
             <div class="row">
                 <div class=" col-sm-12"> 
                     <label for="product_Size" >Product Size *</label>
                     <div name="product_Size" class="form-control">
                        <select id="options"  name="product_Size"  class="selectdata custom-select" required>
                            <option  value="" disabled >Select Size</option>
                            <option  name="product_Size" value="XXSmall Tv">XXSmall Tv</option> 
                            <option  name="product_Size" value="XSmall Tv">XSmall Tv</option>  
                            <option  name="product_Size" value="Small Tv">Small Tv</option> 
                            <option  name="product_Size" value="Mini Tv">Mini Tv</option> 
                            <option  name="product_Size" value="Mediam Tv">Mediam Tv</option>  
                            <option  name="product_Size" value="Macro Tv">Macro Tv</option> 
                            <option  name="product_Size" value="Large Tv">Large Tv</option> 
                            <option  name="product_Size" value="XLarge Tv">XLarge Tv</option> 
                            <option  name="product_Size" value="XXLarge Tv">XXLarge Tv</option>    
                         </select>  
                    </div>
                    </div>
             </div>   
              
             
             <div class="row">
                 <div class=" col-sm-6"> 
                     <label for="product_Condition" >Product Condition *</label> 
                     <div name="product_Condition" class="form-control">
                         <select id="options"  name="product_Condition"  class="selectdata custom-select" required>
                             <option  value="" disabled selected>Product Condition</option>
                             <option  name="product_Condition" value=" ( 90% - 100% ) - Excellent ">( 90% - 100%  ) - Excellent </option>
                             <option  name="product_Condition" value=" ( 80% - 89% ) - Best ">( 80% - 89% ) - Best </option>
                             <option  name="product_Condition" value=" ( 70% - 79% ) - Better ">( 70% - 79% ) - Better </option>
                             <option  name="product_Condition" value=" ( 60% - 69% ) - Good ">( 60% - 69% ) - Good </option>
                             <option  name="product_Condition" value=" ( 50% - 59% ) - Poor ">( 50% - 59% ) - Poor </option>
                             <option  name="product_Condition" value=" ( 40% - 49% ) - Fair ">( 40% - 49% ) - Fair </option> 
                             <option  name="product_Condition" value=" ( 1% - 39% ) - Dead ">( 1%-39% ) - Dead </option>
                         </select>  
                     </div>
                 </div>
                 <div class="form-group col-sm-6"> 
                     <label for="product_Freshnes">Product Freshness *</label> 
                     <div name="product_Freshnes" class="form-control">
                         <select id="options"  name="product_Freshnes"  class="selectdata custom-select" required>
                             <option  value="" disabled selected>Product Freshness</option>
                             <option  name="product_Freshnes" value="New" >New</option>
                             <option  name="product_Freshnes" value="Old">Old</option>
                             <option  name="product_Freshnes" value="Mint">Mint</option>
                             <option  name="product_Freshnes" value="A Block">A Block</option>
                             <option  name="product_Freshnes" value="B Block">B Block</option>
                             <option  name="product_Freshnes" value="C Block">C Block</option>
                             <option  name="product_Freshnes" value="D Block">D Block</option>
                             <option  name="product_Freshnes" value="Open Box">Open Box</option>
                             <option  name="product_Freshnes" value="Second Hand">Second Hand</option>
                             <option  name="product_Freshnes" value="Refurbished">Refurbished</option>
                             <option  name="product_Freshnes" value="Certified Refurbished">Certified Refurbished</option>
                             <option  name="product_Freshnes" value="Certified Pre-Owned">Certified Pre-Owned</option>
                             <option  name="product_Freshnes" value="Parts or not Workking" >Parts or not Workking</option>
                             
                         </select>  
                     </div>
                 </div><!-- End .form-group -->
             </div> 
              
             <div class="row"> 
                 <div class=" col-sm-6"> 
                     <label for="product_Status" >Product Status *</label>
                     <div name="product_Status" class="form-control">
                         <select id="options"  name="product_Status"  class="selectdata custom-select" required>
                             <option  value="" disabled selected>Product Status</option>
                             <option  name="product_Status" value="Available">Available</option>
                             <option  name="product_Status" value="Not Available">Not Available</option>
                             <option  name="product_Status" value="Limited Addition">Limited Addition</option>
                         </select>  
                     </div>
                 </div>
                 <div class=" col-sm-6"> 
                    <label for="product_QR_Code" >Product QR Code *</label>
                    <input type="text" class="form-control" id="product_QR_Code" name="product_QR_Code" placeholder="Product QR-Code" required>
                </div>
             </div> 
               
             <div class="row"> 
                 <div class="form-group col-sm-12"> 
                     <label for="product_IssueDate">Product Issue Date *</label> 
                     <input type="date" class="form-control" id="product_IssueDate" name="product_IssueDate" required>
                 </div><!-- End .form-group -->
             </div>
             
             <div class="row">
                 <div class=" col-sm-12"> 
                 <label for="product_Description">Product Description *</label>
                 <textarea type="text" class="form-control" id="product_Description" name="product_Description" placeholder="Product Description" required></textarea>
             </div><!-- End .form-group -->
                 
                 <div class="form-group col-sm-6" hidden> 
                     <label for="product_Customer_Rated" hidden>Customer Review *</label>
                     <input type="text" hidden class="form-control" id="product_Customer_Rated" name="product_Customer_Rated"   >
                 </div><!-- End .form-group -->
             </div> 

             <div class="row">
                <div class=" col-sm-3"> 
                <label for="product_Photo1">Extra Images View-1 *</label>
                <input type="file" class="form-control" id="product_Photo1" name="product_Photo1" placeholder="Product Image View 1" required />
            </div><!-- End .form-group -->
                
                <div class="form-group col-sm-3"  >  
                    <label for="product_Photo2"> Images View-2 *</label>
                    <input type="file" class="form-control" id="product_Photo2" name="product_Photo2" required  />
                </div><!-- End .form-group -->
                <div class="form-group col-sm-3"  >  
                    <label for="product_Photo3"> Images View-3 *</label>
                    <input type="file" class="form-control" id="product_Photo3" name="product_Photo3" required  />
                </div><!-- End .form-group -->
                <div class="form-group col-sm-3"  >  
                    <label for="product_Photo4"> Images View-4 *</label>
                    <input type="file" class="form-control" id="product_Photo4" name="product_Photo4" required  />
                </div><!-- End .form-group -->
            </div> 
               
            <div class="form-group col-sm-12"> 
                <label for="product_Color">product Colors *</label>
                <input type="text" class="form-control" id="product_Color" name="product_Color" placeholder="product Color" required>
            </div><!-- End .form-group -->
            <div class="row"> 
                <div class=" col-sm-3"> 
                    <label for="product_inches1" >Inches (height) *</label>
                    <input type="number" class="form-control" id="product_inches1" name="product_inches1" placeholder="Product Height" required>
              
                </div>
                <div class=" col-sm-3"> 
                    <label for="product_inches2" >Inches (width) *</label>
                    <input type="number" class="form-control" id="product_inches2" name="product_inches2" placeholder="Product Width" required>
              
                </div>
                <div class=" col-sm-3"> 
                   <label for="product_Resolution1" >Product Resolution</label>
                   <input type="number" class="form-control" id="product_Resolution1" name="product_Resolution1" placeholder="Pixels 1024 x " required>
               </div>
               
               <div class=" col-sm-3"> 
                <label for="product_Resolution2" > pixels x pixels *</label>
                <input type="number" class="form-control" id="product_Resolution2" name="product_Resolution2" placeholder="2048 pixels" required>
            </div>
            </div> 
            <div class=" form-group "> 
                <label for="product_Extra" >T.v Extra *</label>
                <input type="text" class="form-control" id="product_Extra" name="product_Extra" placeholder="product Extra Feature" required>
            </div>    

             <div class="header-right ">
                 <button type="submit" class="mybtn ">
                     <span>Save Product </span> 
                     <span class="material-symbols-outlined">playlist_add</span>
                 </button> 
             </div><!-- End .form-footer --> 
       </form>



       </div></div></div> 

       
<script>
    imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>

