
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Update User {{title}}</title>
<meta name="keywords" content="HTML5 Template">
<meta name="description" content="Pin Store">
<meta name="author" content="p-themes"> 
<meta name="apple-mobile-web-app-title" content="Pin Store">
<meta name="application-name" content="Pin Store">
<meta name="msapplication-TileColor" content="#cc9966">
<meta name="theme-color" content="#ffffff">
{% load static %}  
<link rel="stylesheet" href="{% static 'Authentication/css/login/icons.min.css' %}">
<link rel="stylesheet" href="{% static 'Authentication/css/login/style.css' %}"> 
 
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 
<link rel="stylesheet" href="{% static 'Authentication/css/login/mystyle.css' %}"> 

<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/ProdNav.css' %}">
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/button.css' %}"> 
{% include 'header.html' %} 
</header> 
<div class="container " >
<div class="header-left ">  
<div class="container">   
    <div class="form-tab">  
         <div class="tab-pane wrapper-add" id="login"  > 
             <h4>Update User</h4>
             {% if messages %}
                     <ul class="messages">
                         {% for message in messages %}
                         <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                         {% endfor %}
                     </ul>
                 {% endif %}

            
         <form action="{% url 'update_User_byAdmin' view_Profile.char_email %}"  method="post"  enctype="multipart/form-data">
                 {% csrf_token %} 
             <div class="row">
                <div class="form-group col-sm-6"> 
                    <label for="user_email">Email </label>
                    <label type="text" class="form-control" value="{{view_User.email}}" id="user_email" name="user_email" readonly placeholder="User Email" >{{view_User.email}}</label>
                </div><!-- End .form-group --> 
                 <div class="form-group col-sm-6"> 
                    <div class="add-box-image" > 
                         <div class="upload-options">  
                                <img id="blah" src="{{BASE_DIR}}/Auth/media/{{view_UserDetail.db_photo}}" class="addMobileImage"    name="mobile_ImgDisplay" alt="Select Display Image*" />
                                <input accept="image/*" class="addMobileInput" type='file'   name="User_Image"  id="mobile_ImgDisplay" />
                             </div>
                    </div>   
                </div>
                
                 
             </div> 
             
             <div class="row">
                <div class=" col-sm-6"> 
                    <label for="user_FName" >First Name *</label>
                    <input type="text" class="form-control" value="{{view_User.first_name}}" id="user_FName" name="user_FName" placeholder="User Name" >
                </div>
                <div class=" col-sm-6"> 
                    <label for="user_LName">Last Name </label>
                    <input type="text" class="form-control" value="{{view_User.last_name}}" id="user_LName" name="user_LName" placeholder=" User Last Name" >
                </div><!-- End .form-group -->
                
                
            </div> 
            <div class="row">
                <div class="form-group col-sm-6"> 
                    <label for="user_Number">Contact Number </label>
                    <input type="text" class="form-control" value="{{view_Profile.db_phoneNumber}}" id="user_Number" name="user_Number" placeholder="User Number" >
                </div><!-- End .form-group -->
                

                 <div class="form-group col-sm-6"> 
                    <label for="user_gender">Gender *</label>
                    <div name="user_gender" class="form-control"> 
                        <select id="options"  name="user_gender" option="{{view_Profile.db_gender}}"  class="selectdata custom-select" >
                            <option  value="" disabled selected>Select Gender </option>
                            <option  name="user_gender" value="Male">Male</option>
                            <option  name="user_gender" value="Female">Female</option> 
                            <option  name="user_gender" value="Other">Other</option> 
                        </select>  
                    </div>
                </div><!-- End .form-group -->
            </div> 
            <div class="row">
                <div class=" col-sm-6"> 
                    <label for="user_DoB">Date of Birth </label>
                    <input type="date" class="form-control" value="{{view_Profile.db_date_DoB}}" id="user_DoB" name="user_DoB" placeholder="Date of Birth" >
                </div><!-- End .form-group -->
                <div class="form-group col-sm-6"> 
                    <label for="user_active">is_Active </label>
                    <div name="user_active" class="form-control"> 
                        <select id="options"  name="user_active" option="{{view_Profile.is_active}}"  class="selectdata custom-select" required>
                            <option  value="" disabled selected>Select Activation ID </option>
                            <option  name="user_active" value="True" selected>True</option>
                            <option  name="user_active" value="False">False</option>  
                        </select>  
                    </div>
                </div><!-- End .form-group --> 
            </div> 
            
            <div class="row">
                <div class="form-group col-sm-6"> 
                    <label for="user_country">Country </label>
                    <input type="text" class="form-control" value="{{view_Profile.db_country}}" id="user_country" name="user_country" placeholder="User Country" >
                </div><!-- End .form-group -->
                <div class="form-group col-sm-6"> 
                    <label for="user_password">User Password </label>
                    <input type="text" class="form-control" value="" id="user_password" name="user_password" placeholder="Change Password" >
                </div><!-- End .form-group -->
                
            </div> 
               
            <div class="row">
                
                <div class="form-group col-sm-12"> 
                    <label for="user_bio">User Bio </label>
                    <textarea type="text" class="form-control" value="{{view_UserDetail.db_bio}}" id="user_bio" name="user_bio" placeholder="User Bio" >{{view_UserDetail.db_bio}}</textarea>
                </div><!-- End .form-group -->
            </div> 
               
             <div class="header-right ">
                 <button type="submit" class="mybtn ">
                     <span>Update User </span> 
                     <span class="material-symbols-outlined">playlist_add</span>
                 </button>

                 
             </div><!-- End .form-footer --> 
       </form> 
 


       </div>
    </div>
</div> 

</header>
{% include 'footer.html' %}

<script src="{% static 'storeCommerce/assets/js/AddProdNav.js' %}"></script>

  
<script>
    imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>



