
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Update Cloth {{title}}</title>
<meta name="keywords" content="HTML5 Template">
<meta name="description" content="Pin Store">
<meta name="author" content="p-themes"> 
<meta name="apple-mobile-web-app-title" content="Pin Store">
<meta name="application-name" content="Pin Store">
<meta name="msapplication-TileColor" content="#cc9966">
<meta name="theme-color" content="#ffffff">
{% load static %}  
<link rel="stylesheet" href="{% static 'Authentication/css/login/icons.min.css' %}">
<link rel="stylesheet" href="{% static 'Authentication/css/login/style.css' %}"> 
 
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 
<link rel="stylesheet" href="{% static 'Authentication/css/login/mystyle.css' %}"> 

<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/ProdNav.css' %}">
<link rel="stylesheet" href="{% static 'storeCommerce/assets/css/button.css' %}"> 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 
{% include 'header.html' %} 
</header> 
          <div class="container">   
                     <div class="form-tab">  
                          <div class="tab-pane wrapper-add" id="login"  > 
                              <h4>Cloth Data</h4>
                          <form action="{% url 'update_Cloth_byAdmin' view_Product.db_Product_ID %}"  method="post"  enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {% if messages %}
                                      <ul class="messages">
                                          {% for message in messages %}
                                          <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                          {% endfor %}
                                      </ul>
                                  {% endif %}
                              <div class="row">
                                  <div class=" col-sm-6"> 
                                      <label for="product_Name" >Product Name *</label>
                                      <input type="text" value="{{view_Product.db_Product_Name}}" class="form-control" id="product_Name" name="product_Name" placeholder="Product Name" >
                                  </div>
                                  <div class="form-group col-sm-6"> 
                                     <div class="add-box-image" > 
                                          <div class="upload-options">  
                                                 <img id="blah"  src="{{BASE_DIR}}/Auth/media/{{view_Image.db_Product_photo}}" class="addMobileImage"  alt="Select Display Image*" />
                                                 <input accept="image/*" class="addMobileInput" type='file'   name="mobile_ImgDisplay"  id="imgInp" />
                                              </div>
                                     </div>   
                             </div> 
                              </div> 
                              
                              <div class="row">
                                 <div class="col-sm-6"> 
                                     <label for="product_Price">Product Price $(doller)*</label>
                                     <input type="text" value="{{view_Product.db_Product_Price}}"  class="form-control" id="product_Price" name="product_Price" placeholder=" Product Price" >
                                 </div><!-- End .form-group --> 
                                
                              </div> 
                              <div class="row">
                                 <div class=" col-sm-6"> 
                                     <label for="product_category" >Product Category *</label> 
                                        <div name="product_category" class="form-control">
                                            <select id="options"  name="product_category"  class="selectdata custom-select" required>
                                                <option  value="" disabled >Select Category</option>
                                                <option  name="product_category" value="Mobile">Mobile / Phone</option> 
                                                <option  name="product_category" value="Computer" >Computer / Laptop</option> 
                                                <option  name="product_category" value="Cloth" selected>Cloth</option> 
                                                <option  name="product_category" value="Shoes" >Shoes</option>  
                                                <option  name="product_category" value="Tv">T.V</option> 
                                                <option  name="product_category" value="Watch">Watch</option> 
                                                <option  name="product_category" value="Accessories">Accessories</option> 
                                             </select>  
                                        </div>
                                    </div>
                                    
                                 <div class="form-group col-sm-6"> 
                                     <label for="product_Type">Product Type *</label>
                                     <div name="product_Type" class="form-control"> 
                                         <select id="options"  name="product_Type"  class="selectdata custom-select" required>
                                             <option  value="" disabled selected>Product Type</option>
                                             <option  name="product_Type" value="Simple Men Cloth">Simple Men Cloth</option>
                                             <option  name="product_Type" value="Simple Lady Cloth">Simple Lady Cloth</option>
                                             <option  name="product_Type" value="Simple Baby Cloth">Simple Baby Cloth</option> 
                                             <option  name="product_Type" value="Velvet">Velvet</option> 
                                             <option  name="product_Type" value="Chiffon">Chiffon</option> 
                                             <option  name="product_Type" value="Muslin">Muslin</option> 
                                             <option  name="product_Type" value="Poplin">Poplin</option> 
                                             <option  name="product_Type" value="Broadcloth">Broadcloth</option> 
                                             <option  name="product_Type" value="Crêpe">Crêpe</option> 
                                             <option  name="product_Type" value="Flannel">Flannel</option> 
                                             <option  name="product_Type" value="Brocade">Brocade</option> 
                                             <option  name="product_Type" value="Cotton">Cotton</option> 
                                             <option  name="product_Type" value="Denim">Denim</option> 
                                             <option  name="product_Type" value="Terrycloth">Terrycloth</option> 
                                             <option  name="product_Type" value="Corduroy">Corduroy</option> 
                                             <option  name="product_Type" value="Fleece">Fleece</option> 
                                             <option  name="product_Type" value="Damask">Damask</option> 
                                             <option  name="product_Type" value="Silk">Silk</option> 
                                             <option  name="product_Type" value="Chenille">Chenille</option> 
                                             <option  name="product_Type" value="Taffeta">Taffeta</option> 
                                             <option  name="product_Type" value="Voile">Voile</option> 
                                             <option  name="product_Type" value="Linen">Linen</option> 
                                             <option  name="product_Type" value="Gabardine">Gabardine</option>  
                                             <option  name="product_Type" value="Wool">Wool</option>
                                             <option  name="product_Type" value="Georgette">Georgette</option>
                                             <option  name="product_Type" value="Polyester">Polyester</option>
                                             <option  name="product_Type" value="Chintz">Chintz</option>
                                             <option  name="product_Type" value="T-shirt">T-shirt</option>
                                             <option  name="product_Type" value="hot cloth">hot cloth</option>
                                             <option  name="product_Type" value="cold cloth">cold cloth</option>
                                             <option  name="product_Type" value="jacket">jacket</option>
                                             <option  name="product_Type" value=" hodi"> hodi</option>
                                             <option  name="product_Type" value="Other">Other</option>
                                         </select>  
                                     </div>
                                 </div><!-- End .form-group -->
                              </div>
                              <div class="row">
                                   
                                  <div class="form-group col-sm-6"> 
                                      <label for="product_Brand">Product Brand *</label>
                                      <input type="text"  value="{{view_Product.db_Product_Brand}}"  class="form-control" id="product_Brand" name="product_Brand" placeholder="Product Brand" >
                                  </div><!-- End .form-group -->
                                  <div class=" col-sm-6"> 
                                      <label for="product_MadeByCountry" >Made By Country *</label>
                                      <input type="text"  value="{{view_Product.db_Product_MadeByCountry}}"  class="form-control" id="product_MadeByCountry" name="product_MadeByCountry" placeholder="Made by Country Name" >
                                  </div>
                              </div> 
                              
                              <div class="row">
                                  <div class=" col-sm-12"> 
                                      <label for="product_Size" >Product Size/Number *</label>
                                      <input type="text" class="form-control"  value="{{view_Product.db_Product_Size}}"  id="product_Size" name="product_Size" placeholder="Product Size Number" >
                                  </div>
                              </div>   
                               
                              
                              <div class="row">
                                  <div class=" col-sm-6"> 
                                      <label for="product_Condition" >Product Condition *</label> 
                                      <div name="product_Condition" class="form-control">
                                          <select id="options"  name="product_Condition"  class="selectdata custom-select" required>
                                              <option  value="" disabled selected>Product Condition</option>
                                              <option  name="product_Condition" value=" ( 90% - 100% ) - Excellent ">( 90% - 100%  ) - Excellent </option>
                                              <option  name="product_Condition" value=" ( 80% - 89% ) - Best ">( 80% - 89% ) - Best </option>
                                              <option  name="product_Condition" value=" ( 70% - 79% ) - Better ">( 70% - 79% ) - Better </option>
                                              <option  name="product_Condition" value=" ( 60% - 69% ) - Good ">( 60% - 69% ) - Good </option>
                                              <option  name="product_Condition" value=" ( 50% - 59% ) - Poor ">( 50% - 59% ) - Poor </option>
                                              <option  name="product_Condition" value=" ( 40% - 49% ) - Fair ">( 40% - 49% ) - Fair </option> 
                                              <option  name="product_Condition" value=" ( 1% - 39% ) - Dead ">( 1%-39% ) - Dead </option>
                                          </select>  
                                      </div>
                                  </div>
                                  <div class="form-group col-sm-6"> 
                                      <label for="product_Freshnes">Product Freshness *</label> 
                                      <div name="product_Freshnes" class="form-control">
                                          <select id="options"  name="product_Freshnes"  class="selectdata custom-select" required>
                                              <option  value="" disabled selected>Product Freshness</option>
                                              <option  name="product_Freshnes" value="New" >New</option>
                                              <option  name="product_Freshnes" value="Old">Old</option>
                                              <option  name="product_Freshnes" value="Mint">Mint</option>
                                              <option  name="product_Freshnes" value="A Block">A Block</option>
                                              <option  name="product_Freshnes" value="B Block">B Block</option>
                                              <option  name="product_Freshnes" value="C Block">C Block</option>
                                              <option  name="product_Freshnes" value="D Block">D Block</option>
                                              <option  name="product_Freshnes" value="Open Box">Open Box</option>
                                              <option  name="product_Freshnes" value="Second Hand">Second Hand</option>
                                              <option  name="product_Freshnes" value="Refurbished">Refurbished</option>
                                              <option  name="product_Freshnes" value="Certified Refurbished">Certified Refurbished</option>
                                              <option  name="product_Freshnes" value="Certified Pre-Owned">Certified Pre-Owned</option>
                                              
                                          </select>  
                                      </div>
                                  </div><!-- End .form-group -->
                              </div> 
                               
                              <div class="row"> 
                                  <div class=" col-sm-6"> 
                                      <label for="product_Status" >Product Status *</label>
                                      <div name="product_Status" class="form-control">
                                          <select id="options"  name="product_Status"  class="selectdata custom-select" required>
                                              <option  value="" disabled selected>Product Status</option>
                                              <option  name="product_Status" value="Available">Available</option>
                                              <option  name="product_Status" value="Not Available">Not Available</option>
                                              <option  name="product_Status" value="Limited Addition">Limited Addition</option>
                                          </select>  
                                      </div>
                                  </div>
                                  <div class=" col-sm-6"> 
                                     <label for="product_QR_Code" >Product QR Code *</label>
                                     <input type="text" class="form-control"  value="{{view_Product.db_Product_QR_Code}}"  id="product_QR_Code" name="product_QR_Code" placeholder="Product QR-Code" >
                                 </div>
                              </div> 
                                
                              <div class="row"> 
                                  <div class="form-group col-sm-12"> 
                                      <label for="product_IssueDate">Product Issue Date *</label> 
                                      <input type="date" class="form-control" id="product_IssueDate" name="product_IssueDate" required>
                                  </div><!-- End .form-group -->
                              </div>
                              
                              <div class="row">
                                  <div class=" col-sm-12"> 
                                  <label for="product_Description">Product Description *</label>
                                  <textarea type="text"  class="form-control" id="product_Description" name="product_Description" placeholder="Product Description" > {{view_Product.db_Product_Description}} </textarea>
                              </div><!-- End .form-group -->
                                   
                              </div> 
                 
                              <div class="row">
                                 <div class=" col-sm-3"> 
                                 <label for="product_Photo1">Extra Images View-1 *</label>
                                 <input type="file" class="form-control" id="product_Photo1" name="product_Photo1" placeholder="Product Image View 1" required />
                             </div><!-- End .form-group -->
                                 
                                 <div class="form-group col-sm-3"  >  
                                     <label for="product_Photo2"> Images View-2 *</label>
                                     <input type="file" class="form-control" id="product_Photo2" name="product_Photo2" required  />
                                 </div><!-- End .form-group -->
                                 <div class="form-group col-sm-3"  >  
                                     <label for="product_Photo3"> Images View-3 *</label>
                                     <input type="file" class="form-control" id="product_Photo3" name="product_Photo3" required  />
                                 </div><!-- End .form-group -->
                                 <div class="form-group col-sm-3"  >  
                                     <label for="product_Photo4"> Images View-4 *</label>
                                     <input type="file" class="form-control" id="product_Photo4" name="product_Photo4" required  />
                                 </div><!-- End .form-group -->
                             </div> 
                                
                             <div class="form-group col-sm-12"> 
                                 <label for="product_Color">product Colors *</label>
                                 <input type="text" class="form-control"  value="{{view_Cloth.db_Cloth_color}}"  id="product_Color" name="product_Color" placeholder="product Color" required>
                             </div><!-- End .form-group -->
                             <div class="row"> 
                                 <div class=" col-sm-6"> 
                                     <label for="product_Gender" >Product Gender Type *</label>
                                     <div name="product_Gender" class="form-control">
                                         <select id="options"  name="product_Gender"  class="selectdata custom-select" required>
                                             <option  value="" disabled selected>Product Gender for Use </option>
                                             <option  name="product_Gender" value="Male">Male</option>
                                             <option  name="product_Gender" value="Female">Fe-male</option>
                                             <option  name="product_Gender" value="Both">Both</option>
                                             <option  name="product_Gender" value="Other">other</option>
                                         </select>  
                                     </div>
                                 </div>
                                 <div class=" col-sm-3"> 
                                    <label for="product_ageBase1" >Product Age From -  *</label>
                                    <input type="number" class="form-control" id="product_ageBase1" name="product_ageBase1" placeholder="Product Age for Start" required>
                                </div>
                                
                                <div class=" col-sm-3"> 
                                 <label for="product_ageBase2" > - Product Age To *</label>
                                 <input type="number" class="form-control" id="product_ageBase2" name="product_ageBase2" placeholder="Product Age For end" required>
                             </div>
                             </div> 
                             <div class=" form-group "> 
                                 <label for="product_Extra" >Cloth Extra *</label>
                                 <input type="text"  value="{{view_Cloth.db_Cloth_Extra}}" class="form-control" id="product_Extra" name="product_Extra" placeholder="product Extra Feature" required>
                             </div>    
                 
                              <div class="header-right ">
                                  <button type="submit" class="mybtn ">
                                      <span>Save Product </span> 
                                      <span class="material-symbols-outlined">playlist_add</span>
                                  </button> 
                              </div><!-- End .form-footer --> 
                         
             
         </form>
        </div></div></div></div></div>

{% include 'footer.html' %}

<script src="{% static 'storeCommerce/assets/js/AddProdNav.js' %}"></script>

  
<script>           
    imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>



