 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Mobile {{title}}</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Pin Store">
    <meta name="author" content="p-themes"> 
    <meta name="apple-mobile-web-app-title" content="Pin Store">
    <meta name="application-name" content="Pin Store">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    {% load static %}  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'Authentication/css/login/icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Authentication/css/login/style.css' %}"> 
    
    <link rel="stylesheet" href="{% static 'Authentication/css/login/mystyle.css' %}"> 

    <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/ProdNav.css' %}">
    <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/button.css' %}"> 
    <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/tableAdmin.css' %}"> 
 
    {% load static %}

    {% block content %}
    {% if user.is_authenticated %}
    {% include 'header.html' %} 
</header> 
    <div class="container " >
        <div class="header-left ">  
         
            <div class="wrapper">
                <nav>
                    <input type="radio" name="tab" class="block"  onclick="openCity(event, 'Mobile')"  id="mobile" checked >
                    <input type="radio" name ="tab"  onclick="openCity(event, 'Computer')" id ="computer" >
                    <input type="radio" name ="tab"  onclick="openCity(event, 'Shoes')" id ="shoes">
                    <input type="radio" name ="tab"  onclick="openCity(event, 'Cloth')" id ="cloth">
                    <input type="radio" name ="tab" onclick="openCity(event, 'Watch')" id ="watch">
                    <input type="radio" name ="tab" onclick="openCity(event, 'Tv')" id ="tv"> 
                    <input type="radio" name ="tab" onclick="openCity(event, 'Accessories')" id ="accessories">

                    <label for="mobile" class="mobile"><a href="#">Mobile</a></label>
                    <label for="computer" class="computer"><a href="#">Computer</a></label>
                    <label for="shoes" class="shoes"><a href="#">Shoes</a></label>
                    <label for="cloth" class="cloth"><a href="#">Cloth</a></label>
                    <label for="watch" class="watch"><a href="#">Watch</a></label>
                    <label for="tv" class="tv"><a href="#">T.v</a></label>
                    <label for="accessories" class="accessories"><a href="#">Accessories</a></label>
                    <div class="tab"></div>
                </nav>
            </div>     
        </div>
    </div>

<div id="Mobile" class="tabcontent">
    <div class="container">   
       <div class="form-tab">  
        <h4>Mobile Data View</h4>
            <div class="tab-pane wrapper-view" id="login"  > 

                <section class=" ">  
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table class="table ">
                                  <thead>
                                    <tr class="table-primary">
                                      <th>Product ID</th> 
                                      <th>Product Image</th> 
                                      <th>Product Name</th>  
                                      <th>Product Price</th> 
                                      <th>Action<i class="textTrans">_</i>Button</th> 
                                      <th>Product Type</th>
                                      <th>Product Category</th> 
                                      <th>Product Brand</th>  
                                      <th>Made By Country</th> 
                                      <th>Product Size</th>  
                                      <th>Mobile Resolution</th> 
                                      <th>Mobile OS</th> 
                                      <th>Mobile Card Holder</th>  
                                      <th>Mobile ROM Storage</th> 
                                      <th>Mobile RAM Storage</th>  
                                      <th> Battery Timing</th> 
                                      <th>Mobile Colors</th> 
                                      <th>Product Condition</th>  
                                      <th>Product Freshness</th> 
                                      <th>Mobile Camera</th>  
                                      <th>Mobile Charger</th>    
                                      <th>Product Status</th>    
                                      <th>Product QR Code</th>    
                                      <th>Product Issue Date</th>    
                                      <th>Customer Review</th>    
                                      <th>Mobile Extra</th> 
                                      <th>Product Description</th>  

                                    </tr>
                                  </thead>
                                  {% for data_Product in view_Product %}
                                  {% for data_Mobile in view_Mobile %}
                                  {% if forloop.last and data_Product.db_Product_Category == "Mobile" %}
                                  {% for data_Image in view_Image %}
                                  {% if data_Product.db_Product_ID == data_Image.db_Image_ID %}
                                  <tbody  class="tbhover">
                                    <tr role=" "> 
                                      <td><textarea class="textstyle" readonly> {{data_Product.db_Product_ID}} </textarea></td>  
                                      <td><img src="{{BASE_DIR}}/Auth/media/{{data_Image.db_Product_photo}}" class="imgstyle"   /> </td> 
                                      <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Name}}</textarea> </td>
                                      <td><textarea class="textstyle" readonly> ${{data_Product.db_Product_Price}} </textarea></td>
                                      <td>
                                        <div class="row">
                                            <div class="col-md-4" >
                                                <a  href="/store/update_Mobile_byAdmin/{{data_Product.db_Product_ID}}" class="btnBorder " title="Update"> <span class="IconRed material-symbols-outlined">edit_square</span></a> 
                                             </div> 
                                       
                                            <div class="col-md-4"> 
                                                <form  action="{% url 'delete_Mobile_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="text" hidden class="form-control" id="delete_id" value="{{data_Product.db_Product_ID}}" name="delete_id" placeholder="delete_id" required>
                                                    <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
                                                </form>
                                        </div>
                                        <div class="col-md-4">  
                                                <a  href="/store/fullView/{{data_Product.db_Product_ID}}"  value="{{data_Product.db_Product_ID}}" name="view_id" placeholder="view_id"  class="btnBorder " title="View"> <span class="IconRed material-symbols-outlined">visibility</span></a> 
                                        </div>  
                                        </div>
                                      </td> 
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Type}} </textarea></td>
                                      <td><textarea class="textstyle" readonly> {{data_Product.db_Product_Category}}</textarea></td>
                                      <td><textarea   class="textstyle" readonly> {{data_Product.db_Product_Brand }} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_MadeByCountry}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Size}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_Resolution}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_OS }} </textarea></td> 
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_Card}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_Store_ROM}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly>{{data_Mobile.db_Mobile_Store_RAM}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_BatteryTiming}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_Color}} </textarea></td> 
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Condition}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Freshnes}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_Camera }} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Mobile.db_Mobile_Charger}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_status}} </textarea> </td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_QR_Code}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_IssueDate}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Customer_Rated}} </textarea></td> 
                                      <td><textarea  class="textstyle" readonly>{{data_Mobile.db_Mobile_Extra}} </textarea> </td>
                                      <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Description}} </textarea> </td>
                                    </tr>  
                                  </tbody>

                                  {% endif %}
                                  {% endfor %}
                                  {% endif %}
                                  {% endfor %}
                                  {% endfor %}

                                </table>
                            </div>
                        </div> 
                </div>
            </section>

 



            </div>
        </div>
    </div>
</div>





<div id="Computer" class="tabcontent">
    <div class="container">   
       <div class="form-tab">  
        <h4>Computer Data View</h4>
            <div class="tab-pane wrapper-view" id="login"  > 

                <section class=" ">  
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table class="table ">
                                  <thead>
                                    <tr class="table-primary">
                                      <th>Product ID</th> 
                                      <th>Product Image</th> 
                                      <th>Product Name</th>  
                                      <th>Product Price</th> 
                                      <th>Action<i class="textTrans">_</i>Button</th> 
                                      <th>Product Type</th>
                                      <th>Product Category</th> 
                                      <th>Product Brand</th>  
                                      <th>Made By Country</th> 
                                      <th>Product Size</th>  
                                      <th>Computer Resolution</th> 
                                      <th>Computer OS</th> 
                                      <th>Computer Card Holder</th>  
                                      <th>Computer ROM Storage</th> 
                                      <th>Computer RAM Storage</th>  
                                      <th> Battery Timing</th> 
                                      <th>Computer Colors</th> 
                                      <th>Product Condition</th>  
                                      <th>Product Freshness</th> 
                                      <th>Computer Camera</th>  
                                      <th>Computer Charger</th>    
                                      <th>Product Status</th>    
                                      <th>Product QR Code</th>    
                                      <th>Product Issue Date</th>    
                                      <th>Customer Review</th>    
                                      <th>Computer Extra</th> 
                                      <th>Product Description</th>  

                                    </tr>
                                  </thead>
                                  {% for data_Product in view_Product %}
                                  {% for data_Computer in view_Computer %}
                                  {% if forloop.last and data_Product.db_Product_Category == "Computer" %}
                                  {% for data_Image in view_Image %}
                                  {% if data_Product.db_Product_ID == data_Image.db_Image_ID %}
                                  <tbody  class="tbhover">
                                    <tr role=" "> 
                                      <td><textarea class="textstyle" readonly> {{data_Product.db_Product_ID}} </textarea></td>  
                                      <td><img src="{{BASE_DIR}}/Auth/media/{{data_Image.db_Product_photo}}" class="imgstyle"   /> </td> 
                                      <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Name}}</textarea> </td>
                                      <td><textarea class="textstyle" readonly> ${{data_Product.db_Product_Price}} </textarea></td>
                                      <td>
                                        <div class="row">
                                            <div class="col-md-4" >
                                                <a  href="/store/update_Computer_byAdmin/{{data_Product.db_Product_ID}}" class="btnBorder " title="Update"> <span class="IconRed material-symbols-outlined">edit_square</span></a> 
                                             </div> 
                                       
                                            <div class="col-md-4"> 
                                                <form  action="{% url 'delete_Computer_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="text" hidden class="form-control" id="delete_id" value="{{data_Product.db_Product_ID}}" name="delete_id" placeholder="delete_id" required>
                                                    <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
                                                </form>
                                        </div>
                                        <div class="col-md-4">  
                                                <a  href="/store/fullView/{{data_Product.db_Product_ID}}"  value="{{data_Product.db_Product_ID}}" name="view_id" placeholder="view_id"  class="btnBorder " title="View"> <span class="IconRed material-symbols-outlined">visibility</span></a> 
                                        </div>  
                                        </div>
                                      </td> 
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Type}} </textarea></td>
                                      <td><textarea class="textstyle" readonly> {{data_Product.db_Product_Category}}</textarea></td>
                                      <td><textarea   class="textstyle" readonly> {{data_Product.db_Product_Brand }} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_MadeByCountry}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Size}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_Resolution}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_OS }} </textarea></td> 
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_Card}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_Store_ROM}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly>{{data_Computer.db_Computer_Store_RAM}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_BatteryTiming}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_Color}} </textarea></td> 
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Condition}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Freshnes}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_Camera }} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Computer.db_Computer_Charger}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_status}} </textarea> </td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_QR_Code}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_IssueDate}} </textarea></td>
                                      <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Customer_Rated}} </textarea></td> 
                                      <td><textarea  class="textstyle" readonly>{{data_Computer.db_Computer_Extra}} </textarea> </td>
                                      <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Description}} </textarea> </td>
                                    </tr>  
                                  </tbody>

                                  {% endif %}
                                  {% endfor %}
                                  {% endif %}
                                  {% endfor %}
                                  {% endfor %}

                                </table>
                            </div>
                        </div> 
                </div>
            </section>
 
            </div>
        </div>
    </div>
</div>






<div id="Shoes" class="tabcontent">
  <div class="container">   
     <div class="form-tab">  
      <h4>Shoes Data View</h4>
          <div class="tab-pane wrapper-view" id="login"  > 

              <section class=" ">  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-wrap">
                              <table class="table ">
                                <thead>
                                  <tr class="table-primary">
                                    <th>Product ID</th> 
                                    <th>Product Image</th> 
                                    <th>Product Name</th>  
                                    <th>Product Price</th> 
                                    <th>Action<i class="textTrans">_</i>Button</th> 
                                    <th>Product Type</th>
                                    <th>Product Category</th> 
                                    <th>Product Brand</th>  
                                    <th>Made By Country</th> 
                                    <th>Product Size</th> 
                                    <th>Product Condition</th>  
                                    <th>Product Freshness</th>      
                                    <th>Product Status</th>    
                                    <th>Product QR Code</th>    
                                    <th>Product Issue Date</th>    
                                    <th>Customer Review</th>    
                                    <th>Shoes Extra</th> 
                                    <th>Shoes Colors</th>    
                                    <th>Shoes Gender Base</th>    
                                    <th>Shoes Age Range</th>  
                                    <th>Product Description</th>  

                                  </tr>
                                </thead>
                                {% for data_Product in view_Product %}
                                {% for data_Shoes in view_Shoes %}
                                {% if forloop.last and data_Product.db_Product_Category == "Shoes" %}
                                {% for data_Image in view_Image %}
                                {% if data_Product.db_Product_ID == data_Image.db_Image_ID %}
                                <tbody  class="tbhover">
                                  <tr role=" "> 
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_ID}} </textarea></td>  
                                    <td><img src="{{BASE_DIR}}/Auth/media/{{data_Image.db_Product_photo}}" class="imgstyle"   /> </td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Name}}</textarea> </td>
                                    <td><textarea class="textstyle" readonly> ${{data_Product.db_Product_Price}} </textarea></td>
                                    <td>
                                      <div class="row">
                                          <div class="col-md-4" >
                                              <a  href="/store/update_Shoes_byAdmin/{{data_Product.db_Product_ID}}" class="btnBorder " title="Update"> <span class="IconRed material-symbols-outlined">edit_square</span></a> 
                                           </div> 
                                     
                                          <div class="col-md-4"> 
                                              <form  action="{% url 'delete_Shoes_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                  <input type="text" hidden class="form-control" id="delete_id" value="{{data_Product.db_Product_ID}}" name="delete_id" placeholder="delete_id" required>
                                                  <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
                                              </form>
                                      </div>
                                      <div class="col-md-4">  
                                              <a  href="/store/fullView/{{data_Product.db_Product_ID}}"  value="{{data_Product.db_Product_ID}}" name="view_id" placeholder="view_id"  class="btnBorder " title="View"> <span class="IconRed material-symbols-outlined">visibility</span></a> 
                                      </div>  
                                      </div>
                                    </td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Type}} </textarea></td>
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_Category}}</textarea></td>
                                    <td><textarea   class="textstyle" readonly> {{data_Product.db_Product_Brand }} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_MadeByCountry}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Size}} </textarea></td>  
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Condition}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Freshnes}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_status}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_QR_Code}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_IssueDate}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Customer_Rated}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Shoes.db_Shoes_Extra}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Shoes.db_Shoes_color}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Shoes.db_Shoes_genderBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Shoes.db_Shoes_ageBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Description}} </textarea> </td>
                                  </tr>  
                                </tbody>

                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                              </table>
                          </div>
                      </div> 
              </div>
          </section>





          </div>
      </div>
  </div>
</div>







<div id="Cloth" class="tabcontent">
  <div class="container">   
     <div class="form-tab">  
      <h4>Cloth Data View</h4>
          <div class="tab-pane wrapper-view" id="login"  > 

              <section class=" ">  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-wrap">
                              <table class="table ">
                                <thead>
                                  <tr class="table-primary">
                                    <th>Product ID</th> 
                                    <th>Product Image</th> 
                                    <th>Product Name</th>  
                                    <th>Product Price</th> 
                                    <th>Action<i class="textTrans">_</i>Button</th> 
                                    <th>Product Type</th>
                                    <th>Product Category</th> 
                                    <th>Product Brand</th>  
                                    <th>Made By Country</th> 
                                    <th>Product Size</th> 
                                    <th>Product Condition</th>  
                                    <th>Product Freshness</th>      
                                    <th>Product Status</th>    
                                    <th>Product QR Code</th>    
                                    <th>Product Issue Date</th>    
                                    <th>Customer Review</th>    
                                    <th>Cloth Extra</th> 
                                    <th>Cloth Colors</th>    
                                    <th>Cloth Gender Base</th>    
                                    <th>Cloth Age Range</th>  
                                    <th>Product Description</th>  

                                  </tr>
                                </thead>
                                {% for data_Product in view_Product %}
                                {% for data_Cloth in view_Cloth %}
                                {% if forloop.last and data_Product.db_Product_Category == "Cloth" %}
                                {% for data_Image in view_Image %}
                                {% if data_Product.db_Product_ID == data_Image.db_Image_ID %}
                                <tbody  class="tbhover">
                                  <tr role=" "> 
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_ID}} </textarea></td>  
                                    <td><img src="{{BASE_DIR}}/Auth/media/{{data_Image.db_Product_photo}}" class="imgstyle"   /> </td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Name}}</textarea> </td>
                                    <td><textarea class="textstyle" readonly> ${{data_Product.db_Product_Price}} </textarea></td>
                                    <td>
                                      <div class="row">
                                          <div class="col-md-4" >
                                              <a  href="/store/update_Cloth_byAdmin/{{data_Product.db_Product_ID}}" class="btnBorder " title="Update"> <span class="IconRed material-symbols-outlined">edit_square</span></a> 
                                           </div> 
                                     
                                          <div class="col-md-4"> 
                                              <form  action="{% url 'delete_Cloth_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                  <input type="text" hidden class="form-control" id="delete_id" value="{{data_Product.db_Product_ID}}" name="delete_id" placeholder="delete_id" required>
                                                  <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
                                              </form>
                                      </div>
                                      <div class="col-md-4">  
                                              <a  href="/store/fullView/{{data_Product.db_Product_ID}}"  value="{{data_Product.db_Product_ID}}" name="view_id" placeholder="view_id"  class="btnBorder " title="View"> <span class="IconRed material-symbols-outlined">visibility</span></a> 
                                      </div>  
                                      </div>
                                    </td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Type}} </textarea></td>
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_Category}}</textarea></td>
                                    <td><textarea   class="textstyle" readonly> {{data_Product.db_Product_Brand }} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_MadeByCountry}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Size}} </textarea></td>  
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Condition}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Freshnes}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_status}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_QR_Code}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_IssueDate}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Customer_Rated}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Cloth.db_Cloth_Extra}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Cloth.db_Cloth_color}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Cloth.db_Cloth_genderBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Cloth.db_Cloth_ageBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Description}} </textarea> </td>
                                  </tr>  
                                </tbody>

                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                              </table>
                          </div>
                      </div> 
              </div>
          </section>
 
          </div>
      </div>
  </div>
</div>









<div id="Watch" class="tabcontent">
  <div class="container">   
     <div class="form-tab">  
      <h4>Watch Data View</h4>
          <div class="tab-pane wrapper-view" id="login"  > 

              <section class=" ">  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-wrap">
                              <table class="table ">
                                <thead>
                                  <tr class="table-primary">
                                    <th>Product ID</th> 
                                    <th>Product Image</th> 
                                    <th>Product Name</th>  
                                    <th>Product Price</th> 
                                    <th>Action<i class="textTrans">_</i>Button</th> 
                                    <th>Product Type</th>
                                    <th>Product Category</th> 
                                    <th>Product Brand</th>  
                                    <th>Made By Country</th> 
                                    <th>Product Size</th> 
                                    <th>Product Condition</th>  
                                    <th>Product Freshness</th>      
                                    <th>Product Status</th>    
                                    <th>Product QR Code</th>    
                                    <th>Product Issue Date</th>    
                                    <th>Customer Review</th>    
                                    <th>Watch Extra</th> 
                                    <th>Watch Colors</th>    
                                    <th>Watch Gender Base</th>    
                                    <th>Watch Age Range</th>  
                                    <th>Product Description</th>  

                                  </tr>
                                </thead>
                                {% for data_Product in view_Product %}
                                {% for data_Watch in view_Watch %}
                                {% if forloop.last and data_Product.db_Product_Category == "Watch" %}
                                {% for data_Image in view_Image %}
                                {% if data_Product.db_Product_ID == data_Image.db_Image_ID %}
                                <tbody  class="tbhover">
                                  <tr role=" "> 
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_ID}} </textarea></td>  
                                    <td><img src="{{BASE_DIR}}/Auth/media/{{data_Image.db_Product_photo}}" class="imgstyle"   /> </td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Name}}</textarea> </td>
                                    <td><textarea class="textstyle" readonly> ${{data_Product.db_Product_Price}} </textarea></td>
                                    <td>
                                      <div class="row">
                                          <div class="col-md-4" >
                                              <a  href="/store/update_Watch_byAdmin/{{data_Product.db_Product_ID}}" class="btnBorder " title="Update"> <span class="IconRed material-symbols-outlined">edit_square</span></a> 
                                           </div> 
                                     
                                          <div class="col-md-4"> 
                                              <form  action="{% url 'delete_Watch_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                  <input type="text" hidden class="form-control" id="delete_id" value="{{data_Product.db_Product_ID}}" name="delete_id" placeholder="delete_id" required>
                                                  <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
                                              </form>
                                      </div>
                                      <div class="col-md-4">  
                                              <a  href="/store/fullView/{{data_Product.db_Product_ID}}"  value="{{data_Product.db_Product_ID}}" name="view_id" placeholder="view_id"  class="btnBorder " title="View"> <span class="IconRed material-symbols-outlined">visibility</span></a> 
                                      </div>  
                                      </div>
                                    </td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Type}} </textarea></td>
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_Category}}</textarea></td>
                                    <td><textarea   class="textstyle" readonly> {{data_Product.db_Product_Brand }} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_MadeByCountry}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Size}} </textarea></td>  
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Condition}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Freshnes}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_status}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_QR_Code}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_IssueDate}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Customer_Rated}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Watch.db_Watch_Extra}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Watch.db_Watch_color}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Watch.db_Watch_genderBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Watch.db_Watch_ageBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Description}} </textarea> </td>
                                  </tr>  
                                </tbody>

                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                              </table>
                          </div>
                      </div> 
              </div>
          </section>
 
          </div>
      </div>
  </div>
</div>











<div id="Tv" class="tabcontent">
  <div class="container">   
     <div class="form-tab">  
      <h4>Tv Data View</h4>
          <div class="tab-pane wrapper-view" id="login"  > 

              <section class=" ">  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-wrap">
                              <table class="table ">
                                <thead>
                                  <tr class="table-primary">
                                    <th>Product ID</th> 
                                    <th>Product Image</th> 
                                    <th>Product Name</th>  
                                    <th>Product Price</th> 
                                    <th>Action<i class="textTrans">_</i>Button</th> 
                                    <th>Product Type</th>
                                    <th>Product Category</th> 
                                    <th>Product Brand</th>  
                                    <th>Made By Country</th> 
                                    <th>Product Size</th> 
                                    <th>Product Condition</th>  
                                    <th>Product Freshness</th>      
                                    <th>Product Status</th>    
                                    <th>Product QR Code</th>    
                                    <th>Product Issue Date</th>    
                                    <th>Customer Review</th>    
                                    <th>Tv Extra</th> 
                                    <th>Tv Colors</th>    
                                    <th>Tv Inches Size</th>    
                                    <th>Tv Resolution</th>  
                                    <th>Product Description</th>  

                                  </tr>
                                </thead>
                                {% for data_Product in view_Product %}
                                {% for data_Tv in view_Tv %}
                                {% if forloop.last and data_Product.db_Product_Category == "Tv" %}
                                {% for data_Image in view_Image %}
                                {% if data_Product.db_Product_ID == data_Image.db_Image_ID %}
                                <tbody  class="tbhover">
                                  <tr role=" "> 
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_ID}} </textarea></td>  
                                    <td><img src="{{BASE_DIR}}/Auth/media/{{data_Image.db_Product_photo}}" class="imgstyle"   /> </td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Name}}</textarea> </td>
                                    <td><textarea class="textstyle" readonly> ${{data_Product.db_Product_Price}} </textarea></td>
                                    <td>
                                      <div class="row">
                                          <div class="col-md-4" >
                                              <a  href="/store/update_Tv_byAdmin/{{data_Product.db_Product_ID}}" class="btnBorder " title="Update"> <span class="IconRed material-symbols-outlined">edit_square</span></a> 
                                           </div> 
                                     
                                          <div class="col-md-4"> 
                                              <form  action="{% url 'delete_Tv_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                  <input type="text" hidden class="form-control" id="delete_id" value="{{data_Product.db_Product_ID}}" name="delete_id" placeholder="delete_id" required>
                                                  <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
                                              </form>
                                      </div>
                                      <div class="col-md-4">  
                                              <a  href="/store/fullView/{{data_Product.db_Product_ID}}"  value="{{data_Product.db_Product_ID}}" name="view_id" placeholder="view_id"  class="btnBorder " title="View"> <span class="IconRed material-symbols-outlined">visibility</span></a> 
                                      </div>  
                                      </div>
                                    </td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Type}} </textarea></td>
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_Category}}</textarea></td>
                                    <td><textarea   class="textstyle" readonly> {{data_Product.db_Product_Brand }} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_MadeByCountry}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Size}} </textarea></td>  
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Condition}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Freshnes}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_status}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_QR_Code}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_IssueDate}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Customer_Rated}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Tv.db_Tv_Extra}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Tv.db_Tv_color}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Tv.db_Tv_Inches}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Tv.db_Tv_Resolution}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Description}} </textarea> </td>
                                  </tr>  
                                </tbody>

                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                              </table>
                          </div>
                      </div> 
              </div>
          </section>
 
          </div>
      </div>
  </div>
</div>




  








<div id="Accessories" class="tabcontent">
  <div class="container">   
     <div class="form-tab">  
      <h4>Accessories Data View</h4>
          <div class="tab-pane wrapper-view" id="login"  > 

              <section class=" ">  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-wrap">
                              <table class="table ">
                                <thead>
                                  <tr class="table-primary">
                                    <th>Product ID</th> 
                                    <th>Product Image</th> 
                                    <th>Product Name</th>  
                                    <th>Product Price</th> 
                                    <th>Action<i class="textTrans">_</i>Button</th> 
                                    <th>Product Type</th>
                                    <th>Product Category</th> 
                                    <th>Product Brand</th>  
                                    <th>Made By Country</th> 
                                    <th>Product Size</th> 
                                    <th>Product Condition</th>  
                                    <th>Product Freshness</th>      
                                    <th>Product Status</th>    
                                    <th>Product QR Code</th>    
                                    <th>Product Issue Date</th>    
                                    <th>Customer Review</th>    
                                    <th>Accessories Extra</th> 
                                    <th>Accessories Colors</th>    
                                    <th>Accessories Used For</th>    
                                    <th>Accessories Gender Base</th>   
                                    <th>Accessories Age Range</th>  
                                    <th>Product Description</th>  

                                  </tr>
                                </thead>
                                {% for data_Product in view_Product %}
                                {% for data_Access in view_Access %}
                                {% if data_Product.db_Product_ID ==  data_Access.db_Access_ID %}
                                {% for data_Image in view_Image %}
                                {% if data_Product.db_Product_ID == data_Image.db_Image_ID %}
                                <tbody  class="tbhover">
                                  <tr role=" "> 
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_ID}} </textarea></td>  
                                    <td><img src="{{BASE_DIR}}/Auth/media/{{data_Image.db_Product_photo}}" class="imgstyle"   /> </td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Name}}</textarea> </td>
                                    <td><textarea class="textstyle" readonly> ${{data_Product.db_Product_Price}} </textarea></td>
                                    <td>
                                      <div class="row">
                                          <div class="col-md-4" >
                                              <a  href="/store/update_Access_byAdmin/{{data_Product.db_Product_ID}}" class="btnBorder " title="Update"> <span class="IconRed material-symbols-outlined">edit_square</span></a> 
                                           </div> 
                                     
                                          <div class="col-md-4"> 
                                              <form  action="{% url 'delete_Access_byAdmin' %} "  method="post"  enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                  <input type="text" hidden class="form-control" id="delete_id" value="{{data_Product.db_Product_ID}}" name="delete_id" placeholder="delete_id" required>
                                                  <button  type="submit" class="btnBorder " title="delete"> <span class="IconRed material-symbols-outlined">delete</span></button> 
                                              </form>
                                      </div>
                                      <div class="col-md-4">  
                                              <a  href="/store/fullView/{{data_Product.db_Product_ID}}"  value="{{data_Product.db_Product_ID}}" name="view_id" placeholder="view_id"  class="btnBorder " title="View"> <span class="IconRed material-symbols-outlined">visibility</span></a> 
                                      </div>  
                                      </div>
                                    </td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Type}} </textarea></td>
                                    <td><textarea class="textstyle" readonly> {{data_Product.db_Product_Category}} ({{data_Access.db_Access_Category}}) </textarea></td>
                                    <td><textarea   class="textstyle" readonly> {{data_Product.db_Product_Brand }} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_MadeByCountry}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Size}} </textarea></td>  
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Condition}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Freshnes}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_status}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_QR_Code}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_IssueDate}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Product.db_Product_Customer_Rated}} </textarea></td> 
                                    <td><textarea  class="textstyle" readonly>{{data_Access.db_Access_Extra}} </textarea> </td>
                                    <td><textarea  class="textstyle" readonly> {{data_Access.db_Access_color}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Access.db_Access_UseFor}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Access.db_Access_genderBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly> {{data_Access.db_Access_ageBase}} </textarea></td>
                                    <td><textarea  class="textstyle" readonly>{{data_Product.db_Product_Description}} </textarea> </td>
                                  </tr>  
                                </tbody>

                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                              </table>
                          </div>
                      </div> 
              </div>
          </section>
 
          </div>
      </div>
  </div>
</div>




  

    {% include 'footer.html' %} 
    {% endif %}
    {% endblock %} 
    
    <script src="{% static 'storeCommerce/assets/js/AddProdNav.js' %}"></script>



    <!-- 
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <script>

        $(function() { $("#mod").on("click",function() {
    if (this.innerText=="published_with_changes") { 
        const box = document.getElementById('mod');
      $("[id=title]").removeAttr("readonly");  
      $("[id=show]").removeAttr("hidden");   
      box.style.display = "none";
       }  
        $.post( function(data) { }) 
          });
        });
        </script>

        -->
