 <!--https://fonts.google.com/icons-->
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Wishlist  </title>
 <meta name="keywords" content="HTML5 Template">
 <meta name="description" content="Pin Store">
 <meta name="author" content="p-themes"> 
 <meta name="apple-mobile-web-app-title" content="Pin Store">
 <meta name="application-name" content="Pin Store">
 <meta name="msapplication-TileColor" content="#cc9966">
 <meta name="theme-color" content="#ffffff">
 {% load static %}
 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/editBtn.css' %}"> 
 
 <link rel="stylesheet" href="{% static 'storeCommerce/assets/css/searchtable.css' %}"> 
{% load custom_tag %}
 {% block content %}
 {% if user.is_authenticated %}
 {% include 'header.html' %} 
     </header> 
       <div class="container " >
        
        {% if user.is_staff %}
        
        <div class="shopping-cart">
            <!-- Title -->
            <div class="title">
              <h4> Wishlist Result : <span class="material-symbols-outlined">shopping_cart</span><i> {{user.email}} </i>  </h4>
            </div>
           
            <div class="itemHead">
              <div  width="20px" >
            <div class="imageTxt">
             <p class="imgText"> <b> Image </b></p>
            </div>
         </div>
         <div  width="20px" > 
            <div class="descriptionHead">
              <span><b class="imgHead"> Product Name </b></span> 
              <span class="imgHead">Product Type </span>
            </div>
          </div>
          <div class=" "  width="20px"  > 
              <div class="descriptionHead">
                <b class="textHead">Product Category </b>  
              </div> 
           </div>
           <div class=""  width="10px" > 
            <div class="descriptionHead"><b  class="textHead">  User Email </b> </div>
            </div>
            <div class=""  width="10px" > 
              <div class="descriptionHead"><b  class="textHead">  $ Product Price </b> </div>
            </div>
            <div class=" "  width="20px"> 
              <div class="quantity">
                <b  class="textHead"> Button </b>
              </div> 
          </div>  
          </div>

        
        {% for wish in view_Wish %} 
        {% for prod in view_Product %}
        {% if prod.db_Product_ID == wish.db_Wishlist_ID %}
        <!-- Product #1 -->  
        <div class="item">
            <div  width="20px" >
            <div class=" ">
                {% for img in view_Image %}
                {% if img.db_Image_ID == wish.db_Wishlist_ID  %}
            <img src="{{BASE_DIR}}/Auth/media/{{img.db_Product_photo}}" class="image" alt="" />
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div  width="20px" > 
            <div class="description">
            <span><b>{{prod.db_Product_Name}} </b></span> 
            <span> {{prod.db_Product_Type}}  </span>
            </div>
        </div>
        <div class=" "  width="20px"  > 
            <div class="description">
                <b>{% if prod.db_Product_Category == "Accessories" %} 
                {% for access in view_Access  %} 
                {% if prod.db_Product_ID == access.db_Access_ID  %}
                    {{access.db_Access_Category }} 
                {% endif %}
                {% endfor %} 
                {% else %}  
                {{prod.db_Product_Category }}  
                {% endif %}</b>  
            </div> 
        </div>
        <div class=""  width="10px" > 
            <div class="description">{{wish.db_Wishlist_email}}  </div>
            </div>
            <div class=""  width="10px" > 
            <div class="description"> ${{prod.db_Product_Price}}</div>
            </div>
            <div class=" "  width="20px"> 
            <div class="quantity">
                <a href="/store/fullView/{{prod.db_Product_ID}}" type="button" class="plus-btn view-button"><b>View</b></a> 
                 
                <button type= "submit"   title="click to add Wishlist" style="position: relative; bottom: 25px;border: none;  color: green; background-color: transparent; background: none;" class="plus-btn "> 
                    <span class="material-symbols-outlined">{{prod.db_Product_ID|email:user.email}}</span>
                </button>
                 
            </div> 
        </div>  
        </div> 
    
        {% endif %} 
        {% endfor %} 
        {% endfor %} 
</div> 



        {% else %} 
<!--   ################################     User Show      ###########################-->


                
         <div class="shopping-cart">
            <!-- Title -->
            <div class="title">
              <h4> Wishlist Result : <span class="material-symbols-outlined">shopping_cart</span><i> {{user.email}} </i>  </h4>
            </div>
           
            <div class="itemHead">
              <div  width="20px" >
            <div class="imageTxt">
             <p class="imgText"> <b> Image </b></p>
            </div>
         </div>
         <div  width="20px" > 
            <div class="descriptionHead">
              <span><b class="imgHead"> Product Name </b></span> 
              <span class="imgHead">Product Type </span>
            </div>
          </div>
          <div class=" "  width="20px"  > 
              <div class="descriptionHead">
                <b class="textHead">Product Category </b>  
              </div> 
           </div>
           <div class=""  width="10px" > 
            <div class="descriptionHead"><b  class="textHead">  Made By Country </b> </div>
            </div>
            <div class=""  width="10px" > 
              <div class="descriptionHead"><b  class="textHead">  $ Product Price </b> </div>
            </div>
            <div class=" "  width="20px"> 
              <div class="quantity">
                <b  class="textHead"> Button </b>
              </div> 
          </div>  
          </div>

                    {% for wish in view_Wish %} 
                    {% for prod in view_Product %}
                    {% if prod.db_Product_ID == wish.db_Wishlist_ID and wish.db_Wishlist_email == user.email %}
                    <!-- Product #1 -->  
                    <div class="item">
                        <div  width="20px" >
                        <div class=" ">
                            {% for img in view_Image %}
                            {% if img.db_Image_ID == wish.db_Wishlist_ID and wish.db_Wishlist_email == user.email %}
                        <img src="{{BASE_DIR}}/Auth/media/{{img.db_Product_photo}}" class="image" alt="" />
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <div  width="20px" > 
                        <div class="description">
                        <span><b>{{prod.db_Product_Name}} </b></span> 
                        <span> {{prod.db_Product_Type}}  </span>
                        </div>
                    </div>
                    <div class=" "  width="20px"  > 
                        <div class="description">
                            <b>{% if prod.db_Product_Category == "Accessories" %} 
                            {% for access in view_Access  %} 
                            {% if prod.db_Product_ID == access.db_Access_ID  %}
                                {{access.db_Access_Category }} 
                            {% endif %}
                            {% endfor %} 
                            {% else %}  
                            {{prod.db_Product_Category }}  
                            {% endif %}</b>  
                        </div> 
                    </div>
                    <div class=""  width="10px" > 
                        <div class="description">{{prod.db_Product_MadeByCountry}}  </div>
                        </div>
                        <div class=""  width="10px" > 
                        <div class="description"> ${{prod.db_Product_Price}}</div>
                        </div>
                        <div class=" "  width="20px"> 
                        <div class="quantity">
                            <a href="/store/fullView/{{prod.db_Product_ID}}" type="button" class="plus-btn view-button"><b>View</b></a> 
                            <form action="{% url 'wishlist' %}"  method="post"  enctype="multipart/form-data">
                            {% csrf_token %} 
                            <input value="/wishlist/" name="wish_backAddress" class="form-control" hidden>
                            <input value="{{prod.db_Product_ID}}"  title="click to do Wishlist"  name="wishlist_ID" class="form-control" hidden>
                            <div class = "purchase-info"> 
                                
                            <button type= "submit"   title="click to add Wishlist" style="position: relative; bottom: 25px;border: none;  color: green; background-color: transparent; background: none;" class="plus-btn "> 
                                <span class="material-symbols-outlined">{{prod.db_Product_ID|email:user.email}}</span>
                            </button>
                            
                            </div>
                            </form>
                        </div> 
                    </div>  
                    </div> 
                
                    {% endif %} 
                    {% endfor %} 
                    {% endfor %} 
                    
        {% endif %}
</div></div></div>
       
 {% include 'footer.html' %}


 {% endif %}
 {% endblock %}


