
  
button.mybtn {  
    align-items: right; 
    height: 15%;
    width: 25%;   
    min-width: 25%;
    border-radius: 50px;
    background: linear-gradient(45deg, #7b8e94 0%, #8200f4de 100%); 
  
  } 
  
  button.mybtn:hover { 
  height: 15%;
  width: 25%;    
  min-width: 25%;
  border-radius: 50px;  
  background: linear-gradient(45deg, #36c4f0 0%, #f46e00de 100%);
  }

 @media (min-width: 600px) and (max-width: 750px){
  button.mybtn {
    height: 15%;
    width: 25%;    
    min-width: 25%;
  }
}


