 
  .wrapper{
    height: 30px;
    width: 1100px;
    margin: auto;
    
    max-width: 100%; 
    min-width: 80%;
    line-height: 25px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    margin-top: 3px;
  }
   
  .wrapper nav{
    position: relative;
    display: flex;
    background: #dddada;
    border-radius: 50px;
  }
  .wrapper nav label{
    flex: 1;
    z-index: 5;
    width: 50%;
    cursor: pointer;
  }
  .wrapper nav label a{
    position: relative;
    z-index: -5;
    font-size: 20px;
    color: #161414;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.6s ease;
    text-transform: uppercase;
  }
  #mobile:checked ~ label.mobile a,
  #computer:checked ~ label.computer a,
  #shoes:checked ~ label.shoes a,
  #cloth:checked ~ label.cloth a,
  #watch:checked ~ label.watch a,
  #tv:checked ~ label.tv a,
  #accessories:checked ~ label.accessories a{
    color: #fff;
  }
  nav label a i{ 
    font-size: 25px;
    margin: 0px 10px;
    height: 100%; 

  }
  .tab{
    position: absolute;
    height: 100%;
    width: 14%;
    left: -1%; 
    max-width: 14%; 
    min-width: 14%;
    bottom: 0;
    z-index: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, #7b8e94 0%, #8200f4de 100%);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #computer:checked ~ .tab{
 
    left: 13%;
  }
  #shoes:checked ~ .tab{
    left: 25%;
  }
  #cloth:checked ~ .tab{
    left: 40%;
  }#watch:checked ~ .tab{
    left: 53%;
  }
  #tv:checked ~ .tab{
    left: 66%;
  }
  #accessories:checked ~ .tab{
    left: 85%;
  }
  nav input{
    display: none;
  }


  * Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 10px;
  border: 1px none #ccc;
  border-top: none;
}
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
 

 
  
  .wrapper-add{
    height: auto;
    width: auto;
    margin: auto;
    right: 50%;
    max-width: 60%; 
    min-width: 40%;
    line-height: 25px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(80, 79, 79, 0.363);
    margin-top: 3px;
  }
   
  .wrapper-add nav{
    position: relative;
    display: flex;
    background: #bebdbd;
    border-radius: 50px;
  }
  .wrapper-add nav label{
    flex: 1;
    z-index: 5;
    width: 50%;
    cursor: pointer;
  }
  .wrapper-add nav label a{
    position: relative;
    z-index: -5;
    font-size: 20px;
    color: #0c0c0c;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.6s ease;
    text-transform: uppercase;
  } 
 

   
.textstyle {
    border: none; 
    background-color: transparent; 
  }
  
.wrapper-view{
  height: auto;
  width: auto;
  margin: auto;
  right: 50%;
  max-width: 100%; 
  min-width: 40%;
  line-height: 25px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(80, 79, 79, 0.363);
  margin-top: 3px;
}
 
.wrapper-view nav{
  position: relative;
  display: flex;
  background: #bebdbd;
  border-radius: 50px;
}
.wrapper-view nav label{
  flex: 1;
  z-index: 5;
  width: 50%;
  cursor: pointer;
}
.wrapper-view nav label a{
  position: relative;
  z-index: -5;
  font-size: 20px;
  color: #0c0c0c;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.6s ease;
  text-transform: uppercase;
} 


  
.textstyle {
  border: none; 
  background-color: transparent; 
}
  
.imgstyle {
  border: block;
  width: 60px;  
  height: 60px;
  border-radius: 100px;
}
 