.btnstar1{
  border: none; background-color: transparent; 
  background: transparent; color: transparent;
  min-width: 25px;   max-width: 25px; 
  min-height: 25px;  max-height: 25px;
  &:hover {
      color: transparent; 
      background: transparent;
      }
} 

.iconstar1, .iconstar2, .iconstar3,   .iconstar4,  .iconstar5 {
  border: none; background: transparent; color: rgb(206, 206, 206);  
  font-size: x-large;  position: relative; 
  right: 1rem;  bottom: 1rem;
}

.iconstar1:hover, .iconstar2:hover, .iconstar3:hover, .iconstar4:hover, .iconstar5:hover {
      color: orange; 
      background-color: transparent; 
      background: transparent;
  }


button .unchecked-1, .unchecked-2, .unchecked-3, .unchecked-4, .unchecked-5 {
    color: rgb(223, 223, 223);
    overflow: wrap;
}


button .checked-1, .checked-2, .checked-3, .checked-4, .checked-5 {
  color: orange;
  overflow: wrap;
}